<html lang="ru">
<head>
    <base href="admin">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>⠀</title>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/favicon-16x16.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/safari-pinned-tab.svg" color="#323232">
    <meta name="msapplication-TileColor" content="#2b5797">
    <meta name="theme-color" content="#ffffff">

    <link rel="icon" type="image/png" sizes="192x192" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/android-chrome-192x192.png"/>
    <link rel="icon" type="image/png" sizes="256x256" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/android-chrome-256x256.png"/>

    <link rel="icon" type="image/png" sizes="150x150" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/mstitle-150x150.png"/>
    <meta name="msapplication-config" content="<%= htmlWebpackPlugin.options.vendorsFilename %>public/browserconfig.xml">
    <link href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/css_admin/fonts/fonts.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet"/>
    <link rel="icon" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/img/favicon.png" type="image/x-icon">
    <link rel="manifest" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/site.webmanifest">
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
            integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
            crossorigin="anonymous"
    />
    <style>
        .__replain_widget_show {
            display: block!important;
        }
        #__replain_widget {
            display: none!important;
        }
        #__replain_widget.__replain_widget_show {
            display: block!important;
        }
    </style>
</head>
<body>
    <div id="app"></div>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/object.polyfill.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/string.polyfill.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/jquery.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/jquery-ui.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/popper.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/bootstrap.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/bootstrap-show-password.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/main_script.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/datepicker.js"></script>
    <script>
        window.replainSettings = { id: 'c0da6fe6-32bb-4aa2-8b89-cd183a2f7c3d' };
        (function(u){var s=document.createElement('script');s.type='text/javascript';s.async=true;s.src=u;
            var x=document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);
        })('https://widget.replain.cc/dist/client.js');
    </script>
</body>
</html>