<html lang="ru">
<head>
    <base href="admin">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>⠀</title>
    <link href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/css_admin/fonts/fonts.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet"/>
    <link rel="icon" href="<%= htmlWebpackPlugin.options.vendorsFilename %>public/img/favicon.png" type="image/x-icon">
</head>
<body>
    <div id="app"></div>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/jquery.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/jquery-ui.min.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/popper.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/bootstrap.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/bootstrap-show-password.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/main_script.js"></script>
    <script src="<%= htmlWebpackPlugin.options.vendorsFilename %>public/js/datepicker.js"></script>
</body>
</html>