@import "styles-group";

.analytics_container {
  max-height: calc(100%);
  overflow: auto;


  .select-date {
    min-width: 75%;

    .select-inner {
      .button-calendar {
        border-radius: 5px;

        .SelectedWeekExample {
          margin: 0 auto;
        }
      }
    }

    //.select-inner{
    //    label{
    //        width: 100%;
    //        background-color: #fff;
    //    }
    //    span,
    //    .button-calendar,
    //    .present-calendar-date{
    //        background-size: 10px;
    //        //width: 7%;
    //        display: block;
    //        height: 70px;
    //        float: left;
    //        border-top-right-radius: 10px;
    //        border-bottom-right-radius: 10px;
    //        background-color: #f5f5f6;
    //
    //        @media screen{
    //            @media(max-width: $laptop-width){
    //                height: 50px;
    //                //width: 5%;
    //            }
    //            @media(max-width: $tablet-width){
    //                //width: 12%;
    //            }
    //            @media(max-width: $mob-width){
    //                height: 35px;
    //                background-size: 8px;
    //            }
    //        }
    //    }
    //        .arrow-right{
    //            float: right;
    //        }
    //        .button-calendar{
    //            width: 86%;
    //            margin: auto;
    //            position: relative;
    //            text-align: center;
    //
    //            @media screen{
    //                @media(max-width: $laptop-width){
    //                    width: 90%;
    //                }
    //                @media(max-width: $tablet-width){
    //                    width: 76%;
    //                }
    //            }
    //        }

    //        .button-cal{
    //            width: 80%;
    //            height: 100%;
    //            font-size: 15px;
    //            font-weight: bold;
    //            @media screen{
    //                @media(max-width: $tablet-width){
    //                    width: 74%;
    //                }
    //                @media(max-width: $mob-width){
    //                    width: 63%;
    //                }
    //            }
    //        }
    //    }
  }

  .timeContainer {
    display: flex;
    padding: 5px 10px;

    position: sticky;
    position: -webkit-sticky;
    z-index: 1;
    top: 0;

    background: #FFFFFF;
    /* Drop Shadow */

    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);

    .calendar-switch {
      width: 130px;
      padding: 0 20px;
      display: flex;
      align-items: center;

      background: url(../img/icons/arrow-down.svg) no-repeat;
      background-position: 80% 50%;
      height: 35px;
      background-color: white;
      margin-right: 10px;
      @media screen and(max-width: $mob-width) {
        display: none;
      }

    }

    .select-date {
      width: 100%;
    }

    .choisen {
      cursor: pointer;
      width: 110px;
    }

    .dropdown {
      background: #FFFFFF;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 2px;
      border: none;
      width: 150px;
      top: 104px;
      left: -94px;

      li {
        padding: 10px 30px;
        border-bottom: 1px solid rgba(172, 172, 172, 0.2);
        cursor: pointer;

        &:hover {
          background-color: rgba(191, 210, 237, 0.11)
        }
      }
    }
  }

  .analytics_list {
    padding: 20px 18px 20px 18px;

    .custom-select {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #495057;
      background: none;
      text-align: center;
    }

    .graph-stat {
      background: #34C38F;

      border-radius: 2px;
      height: 60px;
      width: 3px;

      display: flex;
      flex-direction: column;

      .red {
        border-radius: 0px 0px 2px 2px;
        background: #F46A6A;
        width: 3px;

      }

      .green {
        border-radius: 2px 2px 0px 0px;
        background: #34C38F;
        width: 3px;

      }
    }

    width: 33.333%;
    display: inline-block;
    margin: 15px 15px 0 0;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 4px;
    @media screen {
      @media(max-width: $tablet-width) {
        width: 49%;
        display: block;
        margin: 15px 0 0 0;
        float: left;

        &:nth-child(2n+2) {
          float: right;
        }
      }
      @media(max-width: $mob-width) {
        width: 100%;
      }
    }

    &:nth-child(3n+3) {
      margin-right: 0;
    }

    * {
      color: #445061;
    }

    .list-group-statistics {
      width: 100%;

      .stat-number-small {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        /* identical to box height, or 125% */

        text-align: right;
        color: #495057;

        .small {
          margin-top: 10px;
        }

      }


      .container-title {
        width: 100%;

      }

      strong,
      .dropdown {
        float: left;
        display: block;
        font-size: 24px;
        width: 55%;
        font-weight: bold;
        line-height: normal;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 18px;
          }
          @media(max-width: $tablet-width) {
            font-size: 16px;
          }
        }
      }

      span {
        font-weight: 600;
        font-size: 24px;
        line-height: 30px;
        text-align: right;
        color: #495057;

        width: 43%;
        display: block;
        float: right;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 24px;
          }
          @media(max-width: $tablet-width) {
            font-size: 18px;
          }
        }
      }

      .small {
        font-size: 16px;
        width: 100%;
        display: block;
        clear: both;
        color: #445061;
        font-weight: normal;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 13px;
            line-height: 20px;
          }
          @media(max-width: $tablet-width) {
            font-size: 11px;
            line-height: 13px;
          }
        }
      }
    }

    > div {
      &.visitor-statistics {
        display: inline-flex;
        text-align: center;
        align-items: flex-end;
        justify-content: space-between;
        width: 100%;

        .graph-container {
          display: flex;
          align-items: center;

          .numbers-container {
            margin-left: 12px;

            .stat-numbers {
              display: flex;
              align-items: center;
              justify-content: flex-start;

              .number-statistics.red {
                color: #F46A6A;
              }

              p {
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #495057;
              }

              span {
                font-weight: normal;
                font-size: 18px;
                line-height: 25px;
                color: #34C38F;
              }
            }
          }
        }


        .stat-counter {
          font-weight: 600;
          font-size: 60px;
          line-height: 82px;
          color: #495057;
          align-items: flex-start;
          display: flex;
          flex-direction: column;
          margin-bottom: 5px;

          .small {
            font-weight: normal;
            font-size: 14px;
            line-height: 19px;
            /* identical to box height */

            color: #495057;
          }
        }


        div {


          .number-statistics {
            font-size: 24px;
            font-weight: bold;
            color: #000;
            @media screen {
              @media(max-width: $laptop-width) {
                font-size: 20px;
              }
              @media(max-width: $tablet-width) {
                font-size: 16px;
              }
            }
          }

          p {
            font-size: 14px;
            @media screen {
              @media(max-width: $laptop-width) {
                font-size: 13px;
                line-height: 13px;
              }
              @media(max-width: $tablet-width) {
                font-size: 11px;
              }
            }
          }
        }
      }
    }

    &.analytics_chart {
      width: 49.5%;
      @media screen {
        @media(max-width: $tablet-width) {
          width: 100%;
        }
      }


      .dropdown {
        .bth {
          border: none !important;

          p {
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height */
            text-align: right;

            color: #495057;
          }

        }
      }

      .sum-container {
        display: flex;

        @media screen and (max-width: $laptop-width) {
          flex-direction: column;

          .sum-payments,
          .cash-payments,
          .card-payments {
            margin-left: 20px !important;
          }
        }

        .sum-payments,
        .cash-payments,
        .card-payments {
          margin-left: 100px;
          display: flex;
          align-items: center;

          p {
            font-weight: 600;
            font-size: 13px;
            line-height: 18px;
            /* identical to box height */


            color: #495057;
          }

          .green-marker,
          .purple-marker,
          .orange-marker {
            border-radius: 30px;
            width: 5px;
            height: 5px;
            margin-right: 7px;
          }

          .green-marker {
            background: #34C38F;
          }

          .purple-marker {
            background: #833FC6;
          }

          .orange-marker {
            background: #F1B44C;
          }
        }
      }

      &:nth-child(2n+2) {
        margin-right: 0;
      }

      .dropdown {

        .bth {
          display: block;
          clear: both;
          cursor: pointer;
          border: none;
          border-radius: 0;
          padding: 0;
          float: left;
          width: auto;
          margin-top: 0;
          border-left: solid 1px #eeeeee;
        }

        p {
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          /* identical to box height */

          text-align: center;

          /* text */

          color: #495057;
          padding: 8px 0 8px 10px;

        }

        .show {
          max-height: 300px;
          overflow: auto;
        }
      }

      > div {

        &:first-of-type {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 20px;
          @media screen {
            @media(max-width: $mob-width) {
              display: block;
              height: auto;

            }
          }

          select {
            width: fit-content;
            margin: 0;
            padding: 0 20px 0 5px;



            &:focus {
              outline-color: #fff;
              box-shadow: none;
            }

            &:hover {
              text-decoration: underline;
            }

          }
        }
      }

      .title-list {
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 33px;
        /* identical to box height */


        color: #495057;
        width: 40%;
        @media screen {
          @media(max-width: $mob-width) {
            width: 100%;
            display: block;
            padding: 5px 0;
          }
        }
      }
    }

    &.save-statistics {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
      margin-right: 0;
      margin-bottom: 20px;
      @media screen {
        @media(max-width: $laptop-width) {
          padding: 10px 15px;

          p, span {
            font-size: 13px;
          }
        }
        @media(max-width: $tablet-width) {
          > div {
            width: 30%;

            &:first-of-type {
              width: 68%;
              border-right: solid 1px #eeeeee;
            }

            p {
              display: block;
              margin-bottom: 5px;
            }
          }
        }
        @media(max-width: $mob-width) {
          display: block;
          > div {
            width: 100%;

            &:first-of-type {
              width: 100%;
              border-bottom: solid 1px #eeeeee;
              border-right: none;
              padding-bottom: 10px;
              margin-bottom: 10px;
            }

            p {
              display: block;
              padding: 0;
              margin-bottom: 5px;
            }
          }
        }
      }

      button {
        color: #fff;
        font-size: 16px;
        padding: 6px 35px;
        border-radius: 30px;
        min-width: 0;
        margin-right: 10px;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 13px;
          }

        }

        &.gray-button {
          color: #000;
          border-color: transparent;
        }
      }

      p {
        display: inline-block;
        padding-right: 15px;
      }

      span {
        color: #6b717b;
        display: inline-block;
      }

      select {
        font-size: 14px;
        height: auto;
        padding: 0 0 0 5px;
        display: inline-block;
        min-width: 100px;
        width: auto;
        border-left: solid 1px #eeeeee;
        border-radius: 0;
        border-bottom: none;
        border-top: none;
        height: 40px;
        margin-bottom: 0;
        color: #000;
        border-right: none;
        margin-left: 10px;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 13px;
          }
          @media(max-width: $tablet-width) {
            display: block;
            padding: 0;
            margin: 0;
            border: none;
            height: 28px;
            width: 100%;
          }
        }

        &:focus {
          outline-color: #fff;
          box-shadow: none;
        }

        &:hover {
          text-decoration: underline;
        }

      }
    }
  }

  .group-container {
    display: flex;
    justify-content: space-between;
    @media screen {
      @media(max-width: $tablet-width) {
        display: block;
        float: none;

        .tablet-right {
          float: right;

          &:last-of-type {
            margin-top: 5px;
          }
        }
        .tablet-full {
          display: block;
          width: 100%;

          .list-group-statistics {
            display: flex;
            align-items: center;

            .dropdown {
              width: 80%;
              display: flex;
              align-items: center;

              .bth {
                height: 33px;
                padding: 6px 10px 5px;
                margin: 0;
              }

              p {
                font-size: 11px;
              }
            }
          }

          span {
            width: 32%;
          }
        }
      }

      @media screen and(max-width: $mob-width) {
        .tablet-full {
          padding-bottom: 50px;

          strong {
            width: 100%;
          }

          .dropdown {
            width: 52% !important;

            .bth {
              height: 35px;
              padding: 0;
              position: absolute;
              left: 0;
              right: 0;
              margin: auto;
              top: 40px;
              min-width: 260px;
              text-align: center;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }

          span {
            width: 48%;
          }
        }
      }

    }

    .dropdown {

      p {
        font-size: 15px;
        color: #000;
        font-weight: normal;
        display: inline-block;
        @media screen {
          @media(max-width: $laptop-width) {
            font-size: 12px;
          }
        }
      }

      .bth {
        display: block;
        clear: both;
        cursor: pointer;
        float: left;
        width: 230px;
        margin-top: 8px;

        &::after {
          content: none !important;
        }

        p {
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          /* identical to box height */


          color: #50A5F1;
        }


      }

      .dropdown-menu {

        background: #FFFFFF;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 2px;
        border: none;
        padding: 0;

        &.show {
          min-width: 250px;
          max-height: 200px;
          overflow: auto;

          li {

            a {
              display: flex;
              align-items: center;
              justify-content: flex-start;
              flex-direction: row;
              width: 100%;
              min-height: 30px;
              border-bottom: solid 1px rgba(172, 172, 172, 0.2);
              padding: 15px 5px;

              @media screen {
                @media(max-width: $laptop-width) {
                  padding: 5px 15px;
                }
              }

              &:hover {
                background-color: rgba(191, 210, 237, 0.11);
              }

              .img-container {
                margin-right: 10px;
                float: left;
                display: block;
                width: 30px;
                height: 30px;

                img {
                  width: 100%;
                  height: auto;
                }
              }

              p {
                font-size: 15px;
                margin-bottom: 0;
                padding: 0;
                @media screen {
                  @media(max-width: $laptop-width) {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }

  }

  .chart-inner {
    overflow-y: hidden;
    overflow-x: auto;

    .chart {
      min-height: 300px;
      width: 100% !important;
      margin: auto;
      @media screen {
        @media(max-width: $laptop-width) {
          min-height: 200px;
          min-width: 400px;
        }
      }
    }
  }

  .tickLabel {
    color: #303030;

    @media screen and(max-width: $tablet-width) {
      font-size: 12px;
    }
  }

}

.menu-delete {
  font-size: 11px;
  margin-bottom: 10px;
}

.delete-menu {

  &.show {
    justify-content: space-between;
    display: flex;

    button {
      width: 100%;
      padding: 0;
      min-width: 0;

      &.gray-button {
        margin: 0;
      }
    }
  }
}

.datepicker {
  @media screen and(max-width: $mob-width) {
    max-width: 250px;
  }
}

.dropdown-toggle::after {
  float: right;
  margin-top: 3px;
}

@media screen and(max-width: $mob-width) {
  .list-group-statistics strong {
    text-align: left;
  }
}
