@import "styles-group";




.clients-page {
  background: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
  padding: 0 0 0 0;
  margin-bottom: 95px;
  .notes-delete-modal {

  }

  .clients {
    margin-bottom: 0;
    padding: 0;
    border: none;
    top: 0;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media screen and (max-width: $mob-width){
      height: 40px;
      padding: 0 10px !important;
      align-items: center;
      .search {
        margin: 0 !important;
        width: unset !important;
        input {
          width: 188px !important;
        }
      }

      .header-tabs-mob {
        .dropdown-button {
          padding-right: 20px;
          margin: 0;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          display: flex;
          align-items: center;
          text-align: right;
          color: #2A3042;
          position: relative;
          &::before {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            content: url("../img/icons/arrow.svg");
          }
        }
      }

      .header-tabs-mob.opened {
        .dropdown-button {
        &::before {
          transform: translateY(-50%) rotate(180deg) !important;
          transition: 200ms;
        }
        }
      }

      .export-container {
        display: none !important;
      }
    }


    //.search {
    //    position: relative;
    //    height: 38px;
    //    display: flex;
    //    justify-content: center;
    //    align-items: center;
    //
    //    width: 288px;
    //
    //    .search-input,
    //    .mob-search-input {
    //        background: #F3F3F9;
    //        border-radius: 30px;
    //
    //        border: none;
    //        font-size: 11px;
    //        line-height: 18px;
    //        color: #555B6D;
    //        padding: 10px 30px 10px 24px;
    //        height: 18px;
    //        margin: 0;
    //
    //        &:focus {
    //            color: #000;
    //        }
    //
    //        @media screen and(max-width: $laptop-width) {
    //            font-size: 11px;
    //            padding-left: 25px;
    //        }
    //    }
    //
    //    .mob-search-input {
    //        display: none;
    //    }
    //
    //    @media screen {
    //        @media (max-width: $mob-width) {
    //            .search-input {
    //                display: none;
    //            }
    //            .mob-search-input {
    //                text-align: left;
    //                display: unset !important;
    //                font-size: 9px;
    //                margin-left: 0 !important;
    //            }
    //        }
    //    }
    //
    //    .mob-search-input {
    //        display: none;
    //    }
    //
    //
    //    .search-icon {
    //        display: block;
    //        position: absolute;
    //        bottom: 0;
    //        left: 1rem;
    //        top: 50%;
    //        transform: translate(0, -50%);
    //
    //        background-image: url(../img/search.svg);
    //        background-color: #F3F3F9;
    //        background-repeat: no-repeat;
    //        background-position: center;
    //        background-size: 100% auto;
    //        border: none;
    //        padding: 0;
    //        width: 12.5px;
    //        height: 12.5px;
    //        transition: opacity ease-in-out 0.3s;
    //        min-width: 0;
    //
    //        @media screen and(max-width: $laptop-width) {
    //            width: 18px;
    //            height: 30px;
    //            margin-left: 2px;
    //        }
    //
    //        .clients & {
    //            @media screen and(max-width: $tablet-width) {
    //                left: 0;
    //            }
    //        }
    //    }
    //
    //    .dropdown-menu {
    //        width: 92%;
    //        margin: auto;
    //        transform: translate3d(0, 37px, 0) !important;
    //        right: 0;
    //    }
    //}

    .header-tabs-mob {
      display: none;
      @media screen and (max-width: $mob-width) {
        display: unset !important;
      }
      position: relative;

      .dropdown-buttons {
        position: absolute;
        top: 33px;
        right: 0;
        background: #FFFFFF;
        box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
        z-index: 2;

        a {
          padding: 15px 21px;
          font-size: 13px;
          line-height: 18px;
          text-align: center;
          color: #555B6D;

          &:not(:last-child) {
            border-bottom: 1px solid #eeeff1;
            box-sizing: border-box;
          }
        }
      }

    }

    .header-tabs {
      @media screen and (max-width: $mob-width) {
        display: none !important;
      }

      .nav-link {
        padding: 25px 18px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #495057;
        opacity: 0.5;

        &.active {
          opacity: 1;
          position: relative;

          &::before {
            position: absolute;
            border-radius: 5px;
            background: #2A3042;
            height: 3px;
            left: 0;
            top: 0;
            right: 0;
            content: '';
          }
        }

      }
    }

    .export {
      .button {
        background: #50A5F1;
        border-radius: 30px;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        padding: 10px 35px;
        height: 38px;
        border: 0;
      }
    }

    .search {
      margin-left: 50px;
      position: relative;
      height: 38px;
      max-height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;

      width: 288px;

      input {
        border-radius: 0;
        border: none;
        height: 100%;
        border-bottom: 1px solid #eaeaec;
        font-size: 13px;
        line-height: 18px;
        color: #495057;
        padding: 10px 30px 10px 0px;
        margin: 0;
      }

      button {
        margin: 0;
        right: 0;
        left: unset;
        background-color: #fff;
      }
    }


    .arrow-dropdown {
      background-image: url(../img/arrow_down_w.png);
      background-repeat: no-repeat;
      background-size: 15px 7px;
      background-position: 92% center;
      padding-right: 25px;
    }

    .export {
      @media screen and(max-width: $tablet-width) {
        display: none;
      }

      &.show {

        .arrow-dropdown {
          background-image: url(../img/arrow_up_w.png);
        }
      }
    }

    .download-buttons {

      .file-upload {
        width: 100%;
        height: auto;
        border-radius: 6px;
        color: #fff;
        text-align: center;
        background-color: #fff;

        label {
          display: block;
          cursor: pointer;
          background-color: #264e86;
          border-radius: 6px;
          height: 50px;
          padding: 8px 0;
          opacity: 0.7;


          @media screen and(max-width: $laptop-width) {
            height: 35px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }

          input[type="file"] {
            display: none;
          }

          span {
            color: #fff;
          }

          &:hover {
            opacity: 1;
          }
        }
      }

      &.import-button {
        display: block;
        position: relative;
        float: right;
        top: 0;
        right: 0;
        width: auto;
        min-width: 120px;
        border: none;

        @media screen and(max-width: $tablet-width) {
          width: 35px;
          padding: 0;
          height: 35px;
          min-width: 0;
          text-indent: 200px;
          overflow: hidden;
        }

        label {
          display: flex;
          align-items: center;
          justify-content: center;

          input[type="file"] {
            display: none;
          }

          span {
            color: #fff;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }



  .client-in-blacklist {
    width: auto;
    margin-right: 10px;
  }

  .paginator-wrapper {
    bottom: 8px !important;
  }

  .final-clients {
    max-height: calc(100vh - 220px);
    overflow-y: auto;
    margin-top: 0;

    @media screen and(max-width: $tablet-width) {
      max-height: calc(100% - 105px);

      margin-top: 7px;
    }



    .clientEyeDel {
      top: 1px !important;
      right: 65px !important;
    }

    .clientEmail {
      width: 28%;
      @media screen and (max-width: 720px) {
        width: 100%;
      }
    }
  }


  .tab-content-list {
    word-break: break-word;
    justify-content: space-between;
    display: flex;
    margin-bottom: 0;
    position: relative;
    border-bottom: 1px solid #EFF2F7;

    @media screen and (max-width: $mob-width){
      justify-content: flex-start !important;
    }

    div {
      overflow: unset !important;

    }

    &:first-of-type {
      border-top: 1px solid #EFF2F7;

      background-color: #fff;
    }

    .column-header {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #2A3042;
      text-align: left;
      padding: 16px 0;
      justify-content: flex-start;
      margin: 0;
      border-radius: 0;

      &:first-of-type {
        justify-content: flex-start !important;
        padding-left: 50px;
      }

      @media screen and (max-width: $mob-width) {
        width: 40%;
        &:first-of-type {
          padding-left: 10px;
        }
        &:not(:nth-child(-n+2)) {
          display: none;

        }
      }
    }


    .cell_name-client {
      padding-left: 50px !important;

      @media screen and (max-width: $mob-width) {
        padding-left: 10px !important;
      }

      a {
        justify-content: flex-start !important;

        p {
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #50A5F1;
        }
      }
    }

    .cell_name-client,
    .cell_client-email,
    .cell_client-country,
    .cell_client-last-visit,
    .cell_client-discount,
    .cell_client-birthdate {
      text-align: left;
      justify-content: flex-start;
      margin: 0;
      padding: 12px 0;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #495057;
      border-radius: 0;
      @media screen and (max-width: $mob-width) {
        width: 40%;
      }
    }

    @media screen and (max-width: $mob-width) {
      .cell_client-country,
      .cell_client-last-visit,
      .cell_client-discount,
      .cell_client-birthdate {
        display: none;
      }
    }


    &:first-of-type {
      position: sticky !important;
      position: -webkit-sticky !important;

      top: 0 !important;
      z-index: 1 !important;

      @media screen and (max-width: $mob-width) {
        top: -5px !important;
      }
    }


    .img-container {
      height: 40px;
      width: 40px;
      display: block;
      float: left;
      margin: 0 4% 0 5%;

      @media screen and(max-width: $tablet-width) {
        float: none;
        margin: auto;
      }

      @media screen and(max-width: 720px) {
        float: none;
        margin: auto;
        position: absolute;
        left: 15px;
        bottom: 0;
        top: 0;
      }

      img {
        max-height: 40px;
        border: solid 1px;
        border-color: $border;
      }
    }


    .delete {
      text-align: center;
      width: auto;
      overflow: visible;


      .delete-icon {
        justify-content: center;
        padding: 0;
        height: auto;
      }

      .dropdown-menu {
        width: auto;
        display: none;
        border-radius: 4px;

        &:hover {
          opacity: 1 !important;
        }

        &.show {
          display: block;
        }
      }
    }

    &.hide {
      right: 100%;
      transition: right ease-in-out 0s;
      display: none;
    }
  }

  .no-holiday {
    background-color: #ffffff;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 40px;
    position: absolute;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;

    span {
      font-weight: normal;
      font-size: 24px;
      line-height: 33px;
      color: #2A3042;

      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;

      .button {
        margin-top: 15px;
        margin-left: 0;
        font-size: 16px;
        line-height: 22px;
        height: 42px;
        /* identical to box height */
        background: #50A5F1;
        border-radius: 30px;
        border: none;
        color: #FFFFFF;
        padding: 0 23px !important;
      }

    }

  }

  .list-button-wrapper {
    position: absolute;
    right: 15px;
    top: 30%;
    width: 65px;

  }
}

.new-client-modal {
  .modal-content {

    /* Drop Shadow */
    background: #fff;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 0px 0px 10px 10px;

    .modal-header {
      box-shadow: none;
    }

    .buttons {
      .button {
        height: 42px;

        background: #50A5F1;
        border-radius: 30px;
        opacity: 0.7;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        transition: 200ms;


        color: #FFFFFF;
        padding: 10px 64px;
        border: none;

        &:hover {
          opacity: 1;
          transition: 200ms;
        }
      }

      @media screen and (max-width: 768px) {
        justify-content: center;
      }
    }

    .birthday-date-container {
      .custom-select {
        width: 100%;

        &:not(:last-child) {
          margin-right: 1px;
        }

        &::before {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
          content: url("../img/icons/arrow.svg");
        }
      }
    }

    .custom-select {
      background: #F3F3F9;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      /* identical to box height */


      color: #495057;

    }

    .form-group {
      border-top: 14px solid #F8F8FB;
      padding: 0 30px;
      max-height: 70vh;
      overflow-y: auto;
      overflow-x: hidden;

      @media screen and (max-width: 768px) {
        padding: 0 10px;
      }

      hr {
        margin: 15px 0 5px;
        display: block;
      }

      .check-box .form-check-input[type="checkbox"] + .check {
        margin: 0;
      }

      .check-box {
        label {
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: #2A3042;
          margin: 15px 0 25px;
          padding-left: 65px;
        }
      }

      .title {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;
        color: #2A3042;
        padding: 20px 0;
      }

      p {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #2A3042;
        display: block;
        margin-bottom: 7px;
      }

      span {
        font-size: 13px;
        line-height: 18px;
        color: #2A3042;

        right: 10px !important;
        position: absolute;
        top: 60% !important;
        opacity: 0.7 !important;
        transform: translateY(-50%) !important;
        bottom: unset !important;
      }

      .react-tel-input {
        input {
          padding-left: 48px;
        }
      }

      input {
        height: 36px;
        min-height: unset;
        background: #F3F3F9;
        border-radius: 2px;

        font-size: 13px;
        line-height: 18px;
        color: #2A3042;

        padding: 9px 10px;
        border: none;
      }
    }

  }



  .tab-content-list {
    position: relative;

    @media screen and (max-width: $mob-width) {
      justify-content: flex-start !important;
      .cell_client-email {
        width: 50%;

      }
    }

    .red-date {
      color: #F46A6A !important;
    }



    .clientEditWrapper {
      right: 30px !important;
      top: -12px !important;
    }

    .clientEdit {
      margin: 0 5px;
      width: 30px;
      height: 30px;
      background-image: url(../img/pen_new.svg);
      background-repeat: no-repeat;
      padding: 0;
      background-position: center;
      background-size: 15px;

      &:hover {
        opacity: 0.7;
        cursor: pointer;
      }
    }

    .clientEyeDel {
      display: none !important;
      position: absolute;
      background: url(../img/information_icon-icons.com_70098.svg) no-repeat center;
      background-size: contain;
      height: 18px;
      width: 18px !important;
      right: 5px;
      cursor: pointer;
      padding: 0 !important;
      right: 40px;
      margin-top: 2px;
    }

    @media screen and(max-width: 720px) {
      .abbreviation {
        margin: 8px 0;
      }
      .delete {
        height: 16px !important;
      }
      .clientEyeDel {
        margin-top: 0;
        display: block !important;
      }
    }
  }
}




.client-info {
  word-break: break-word;

  .search-block {
    width: 95%;
    padding: 0 0 5px;
    margin-bottom: 15px !important;
  }
}


.black-list-modal-wrapper {
  max-width: 770px;

  .modal-add-black-list {

    .modal-content {
      background: #F8F8FB;
    }

    .clients-list {
      width: 70%;

      .name_container {
        width: 100%;
        display: flex;
        justify-content: space-between;


        @media screen and (max-width: $mob-width) {
          flex-direction: column;
        }
      }


      span {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        /* identical to box height */

        color: #50A5F1;

        &.email-user {
          color: #495057;

        }
      }
    }

    .buttons {
      width: 100%;
      display: flex;
      margin: 40px 0;
      justify-content: center;
      align-items: center;
      .button {
        background: #50A5F1;
        border-radius: 30px;
        border: 0;
        height: 42px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        text-align: center;

        color: #FFFFFF;
        padding: 10px 68px;
      }
    }

    .modal-body {
      padding: 0;
      margin-top: 15px;
    }

    .search {
      margin: 25px 30px;
    }

    .add-checkbox {
      position: relative;
    }

    .clients-container {



      background: #FFFFFF;
      /* Drop Shadow */

      display: flex;
      flex-direction: column;

      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    }

    .search-input {
      padding: 10px 30px 10px 36px;
      height: 36px;
      display: flex !important;
    }

    .client-item {
      padding: 25px 30px;
      border-bottom: 1px solid #EAEAEC;
      box-sizing: border-box;

    }

    ul {
      border-top: 1px solid #eaeaec;
      margin-bottom: 0;
      overflow-x: hidden;
      max-height: 320px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 2px;
      }

      /* Track */
      &::-webkit-scrollbar-track {
        border-radius: 10px;
      }

      /* Handle */
      &::-webkit-scrollbar-thumb {
        background: #2A3042;
        border-radius: 4px;
      }

      /* Handle on hover */
      &::-webkit-scrollbar-thumb:hover {
        background: #b30000;
      }

    }


    .form-check-input[type="checkbox"] {
      display: none;


      + .check-box-plus {
        border-radius: 50%;
        background: #50A5F1;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        left: -20px;
        top: 0;
        bottom: 0;
        margin: auto;
        transition: 200ms !important;
        box-sizing: border-box;


        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          height: 12px;
          width: 2px;
          background: #fff;
          border-radius: 5px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(90deg);
          height: 12px;
          width: 2px;
          background: #fff;
          border-radius: 5px;
        }
      }

      &:checked {

        + .check-box-plus {
          transition: 200ms;
          background: #F46A6A;;
          transform: rotate(45deg);
        }
      }
    }

  }

}

.not-visits {
  text-align: center;
  font-size: 13px;
  color: #2A3042;
}
