$lime-color: #B5FFB8;
$orange-color: #FAD398;
$yellow-color: #E9F09D;
$green-color: #76E3BB;
$rose-color: #F3BADB;
$white-color: #FFFFFF;
$sky-color: #ADDDE7;
$violet-color: #D9BCF8;
$light-green-color: #8EE4D5;
$blue-color: #9DC9F0;

// old colors, but still in use
$pink-color: #ef5285;
$red-color: #f94e3f;
$gray-color: #6d819c;
$dark_blue-color: #0a1330;
$purple-color: #6a60a9;
$turquoise-color: #45bfb2;
