$red-color: #f94e3f;
$orange-color: #f17f42;
$pink-color: #ef5285;
$gray-color: #6d819c;
$dark_blue-color: #0a1330;
$blue-color: #4ea1d3;
$purple-color: #6a60a9;
$turquoise-color: #45bfb2;
$green-color: #8fbc94;
$yellow-color: #fbde14;
