//.calendar.dark-theme {
//  * {
//  }
//
//  .calendar-container {
//    background: #2E3548 !important;
//    color: #fff !important;
//
//  }
//}

.dark-theme {



  .content-wrapper {
    background-color: #222736 !important;
  }

  .managers-settings {
    background: #222736 !important;
    /* Drop Shadow */

    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);

    p, h4, h5 {
      color: #fff !important;
    }

    .flag-dropdown {
      border: none !important;
    }

    input, textarea, .flag-dropdown {
      background: #2A3042 !important;
    }
  }

  .sidebar {
    .sidebar_list_collapse {
      background: url("../img/dark-theme/sidebar-collapse-icon.svg") center no-repeat !important;
      background-size: 100% auto;
    }
  }

  .no-scroll {


    .user-settings-dropdown {
      background-color: #3F4555 !important;

      li, a {
        background-color: #2A3042 !important;

      }
    }

    .search-content-wrapper {
      .search-wrapper {
        background-color: #2A3042 !important;
      }

      background-color: #3F4555 !important;
    }


    background: #262B3C !important;
    * {
      color: #fff !important;
    }

    .dropdown-menu {
      background: #3F4555 !important;
      li {
        background: #2A3042 !important;
      }
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
    }

    .change-biz {
      color: #50A5F1 !important;

    }

    .search-header {
      background: #2A3042 !important;
      .search-input {
        background: #2A3042 !important;
        color: #fff !important;

        &::placeholder {
          color: #fff;
        }

        &::-webkit-input-placeholder {
          color: #fff;
        }
      }

      .search-icon {
        background-color: #2A3042 !important;
        background: url("../img/dark-theme/search-input.svg") center no-repeat;
        background-size: 100% auto;

      }
    }

    .right_elements {
      .setting {
        background: url("../img/dark-theme/Setting.svg") center no-repeat;
        background-size: 100% auto;
      }

      .firm-name.user-dropdown {
        &::before {
          content: url("../img/dark-theme/down-arrow.svg") !important;
        }
      }

      .notification {
        background: url("../img/dark-theme/Notification.svg") center no-repeat;
        background-size: 100% auto;
      }
    }
  }

  .calendar {

    .tab-content-list {
      div {
        background-color: #2E3548;

      }

      &::before {
        background: #A6B0CF;
      }
    }

    .fixed-tab{
      background: none !important;


      .cell.hours {
        background: #2E3548 none !important;

      }
    }

    .cell {
      * {
        color: #fff !important;
      }
    }

    .cell.cell-height {
      background-color: #2E3548 !important;

      &.expired {
        background-color: #262B3C !important;

      }

    }
    .calendar-container {
      * {
        color: #fff !important;
      }

      background: #2E3548;

      .dropdown-menu {
      background: #3F4555 !important;
       li {
         background: #2A3042 !important;
       }
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) !important;
      }



      .tab-day-week {
        .nav-item {
          &:hover {
            background: none !important;
            opacity: 1 !important;
          }
        }

        .nav-link {
          background: none !important;
          &::after {
            background: #fff !important;
          }

          cursor: pointer;

        }
      }

      .select-date {
        .arrow-left,
        .arrow-right {
          background: #2E3548 !important;
        }

        .arrow-left {
          background: url("../img/dark-theme/calendar-arrow.svg") center no-repeat !important;
          background-size: 100% auto;
        }
        .arrow-right {
          background: url("../img/dark-theme/calendar-arrow.svg") center no-repeat !important;
          background-size: 100% auto;
        }

        .button-calendar {
          background: #222736 !important;
        }

        .SelectedWeekExample {
          background: #2A3042 !important;
        }
      }
    }
  }

}




