.sign_up_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 451px;
  background: none;
  border: none;
  box-shadow: none;

  @media screen and (max-width: 758px){
    width: 98%;
  }

  .red-color {
    color: #F46A6A;
  }

  .form-group {
    //background: #FFFFFF;
    //border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
    height: 37px;
    font-size: 13px;
    color: #495057;
  }

  p {
    font-size: 15px;
    line-height: 1.3;
    padding-bottom: 10px;
    font-weight: bold;
  }


  .label-text {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #495057;
    display: block;
    margin-bottom: 7px;
  }

  input {
    background: #FFFFFF;
    border: 1px solid #CED4DA;
    box-sizing: border-box;
    border-radius: 4px;
  }

  input[type="radio"],
  input[type="checkbox"] {
    opacity: 0;
    display: none;
  }


  button {
    margin: 5px 0 10px;
    width: 100%;
    border-radius: 6px;
    border: none;

    &.gray-button {
      color: #0a1330;

      @media screen and(max-width: 960px) {
        margin: 15px 0;
      }
    }
  }

  .popup_forgot {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    color: #74788D;
    display: block;
  }

  .logo_sign_in {
    background: rgba(85, 110, 230, 0.25);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    div {
      padding-left: 28px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .logo-title {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: #495057;
        margin-bottom: 10px;
      }

      .logo-description {
        font-weight: normal;
        font-size: 13px;
        line-height: 19px;
        color: #495057;
        padding: 0;
      }
    }
  }

  .sign_in {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.1);
    border-radius: 5px;

    padding: 50px 28px 25px;
    .sign_in_button {
      background: #556EE6;
      border: 1px solid #556EE6;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      padding: 9px 0;
      height: unset;
    }

  }

  .block_bottom {
    justify-content: center;
    margin-top: 30px;
    display: flex;
    font-size: 16px;
    line-height: 22px;
    color: #495057;
    .sign_up_text {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      color: #495057;
    }
    .sign_up_open {
      font-size: 16px;
      line-height: 22px;
      color: #50A5F1;
      border: none;
      padding: 0;
      margin: 0;
      font-weight: normal;
    }
  }

  .sign_up {
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(18, 38, 63, 0.1);
    border-radius: 5px;
    padding-top: 30px;

    .sign_up_button {
      background: #556EE6;
      border: 1px solid #556EE6;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      color: #FFFFFF;
      padding: 9px 0;
      height: unset;
      margin: 0;
    }

    .bottom-container {
      padding: 0 28px 15px;

      label {
        display: flex;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #74788D;
        width: unset;
        margin-bottom: 16px;

        @media screen and (max-width: 768px){
          font-size: 10px;
        }

        a {
          @media screen and (max-width: 768px){
            font-size: 10px;
          }
          font-weight: normal;
          line-height: 18px;
          color: #74788D;
          width: unset;
          font-size: 13px;

          margin-left: 0;
        }
      }
    }

    form {
      padding: 0 28px;
      height: 300px;
      overflow-y: auto;

      span {
        display: block;
        font-weight: normal;
        font-size: 13px;
        color: #495057;
        margin-bottom: 7px;
      }
      .custom-select, input {
        width: 100%;
        background: #FFFFFF;
        border: 1px solid #CED4DA;
        box-sizing: border-box;
        border-radius: 4px;
        height: 37px;

        font-weight: normal;
        font-size: 13px;
        color: #495057;
        padding: 0 0 0 10px;
        margin-bottom: 15px;

      }
      .flag-dropdown {
        display: none;
      }

      .custom-select-wrapper {
        position: relative;
        &::before {
          position: absolute;
          top: 40%;
          transform: translateY(-50%);
          right: 15px;
          content: url("../img/icons/arrow.svg");
        }
      }
    }
  }
}

.container-bg {
  display: block;
  position: absolute;
  width: 70%;
  right: 0;
  height: 100%;
  background-size: cover;
}

.modal_reset_password {
  .button {
    background: #556EE6;
    border: 1px solid #556EE6;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #FFFFFF;

    padding: 9px 0;
    width: 100%;
    height: unset;
  }

  .hide {
    position: absolute;
    top: 35px;
    background-color: #264e86;
    width: 90%;
    margin: auto;
    left: 0;
    right: 0;
    padding: 10px 5px;
    text-align: center;
    max-width: 500px;
    border-radius: 6px;


  }
}

.email-label {
  font-weight: normal;
  font-size: 13px !important;
  line-height: 18px !important;
  color: #495057 !important;
  display: block;
  margin-bottom: 7px;
  margin-top: 10px;
}

.email-input {
  background: #FFFFFF;
  border: 1px solid #CED4DA;
  box-sizing: border-box;
  border-radius: 4px;
  height: 36px;

  font-weight: normal;
  font-size: 13px;
  color: #495057;
  margin-bottom: 15px;
}

.form-check-input[type="checkbox"] {
  display: none;

  + .check-box-circle {
    border-radius: 50%;
    background: rgba(0, 0, 0, 0) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 18px;
    height: 18px;
    cursor: pointer;
    right: -5px;
    top: 0;
    margin-right: 10px;
    bottom: 0;
    transition: 200ms !important;
    box-sizing: border-box;
    border: 1px solid rgba(128, 128, 128, 0.3);

  }

  &:checked {

    + .check-box-circle {
      transition: 200ms;
      background: #FFFFFF;
      border: 4px solid #50A5F1;
      box-sizing: border-box;
    }
  }
}

.message-is-sent-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  z-index: 15;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;

  .message-is-sent-modal {
    position: relative;
    width: 459px;
    height: 263px;
    background: #F8F8FB;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen {
      @media (max-width: 768px) {
        width: 306px;
        height: 210px;
        img {
          width: 86px;
          height: 86px;
        }

        .modal-body {
          padding: 35px 35px !important;

          .body-text {
            font-size: 16px;
            line-height: 22px;
            text-align: center;
            color: #34C38F;
          }
        }
      }
    }

    .close {
      position: absolute;
      top: 25px;
      right: 25px;
      width: 20px;
      height: 20px;
      min-width: unset;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 20px;
        height: 2px;
        background-color: #2A3042;
      }

      &::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        width: 2px;
        height: 20px;
        background-color: #2A3042;
      }
    }

    .modal-body {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 32px 32px !important;



      img {
        width: 106px;
        height: 106px;
      }

      .body-text {
        margin-top: 20px;
        font-size: 24px;
        line-height: 30px;
        text-align: center;
        color: #34C38F;
      }
    }

  }
}

.footer {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-align: center;
  color: #495057;
  z-index: -1;
}


