@import "styles-group";

.managers-settings{
  background-color: #FFFFFF;
  box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
  padding: 20px 15px 20px 15px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: stretch;
  transition: all ease-in-out 0.3s;
  z-index: 3;
  width: 275px;
  overflow: auto;
  @media (max-width: $mob-width) {
    width: 260px;
  }

  .modal-header, .theme-block, .send-leader .send-button{
    width: 230px;
    margin: 0 auto;

  }
  .modal-header{
    padding: 0;
    position: relative;
    h4{
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-size: 24px;
      line-height: 33px;

      margin-bottom: 20px;
    }
  }

  .close {
    color: #2A3042;
    position: absolute;
    right: 21px;
    top: 15px;
    width: 21px;
    height: 21px;
    min-width: 15px !important;
    padding: 0!important;
    opacity: 1;

    &::before {
      content: '';
      width: 21px;
      height: 2px;
      border-radius: 5px;
      background: #2A3042;
      transform: rotate(-45deg);
      position: absolute;
      top: 50%;
      right: 0;

    }

    &::after {
      content: '';
      width: 21px;
      height: 2px;
      border-radius: 5px;
      background: #2A3042;
      transform: rotate(45deg);
      position: absolute;
      top: 50%;
      right: 0;
    }

    span {
      font-size: 2rem;
    }
  }

  .theme-block{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 20px 0;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;

    h5{
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      //margin-bottom: 20px;
    }
    p{
      font-weight: 100;
      margin: 20px 0 10px;
      font-size: 13px;
    }
    .screen{
      width: 100%;
      height: 126px;
      background-position-x: -10px;
      background-position-y: -10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.12);
      //margin-bottom: 20px;
      //border: 1px solid #e9ecef;
      //border-radius: 0.5rem;
      //border-radius: 0.5rem;
    }
    .white{
      background-image: url("../img/white_theme.png");
    }
    .black{
      //background-color: #222736;
      background-image: url("../img/black_theme.png");
    }
  }
  .manager-block{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 0;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: 0.3rem;
    border-top-right-radius: 0.3rem;
    h5{
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-size: 16px;
      line-height: 22px;
      margin: 0;
    }
    .manager-name {
      font-weight: 600;
    }

    .manager-questions {
      font-weight: 100;
    }

    .contact{
      position: relative;
      margin: 15px 0;
      .abbreviation{
        left: 0;
        width: 40px;
        height: 40px;
      }
      p{
        margin-left: 55px;
        font-family: "Open Sans", "sans-serif";
        font-style: normal;
        font-size: 13px;
        line-height: 18px;
        :first-of-type{
          font-weight: 600;
        }
      }
    }
    .contact-details{
      margin-left: 14px;
      position: relative;
      p{
        font-family: "Open Sans", "sans-serif";
        font-style: normal;
        font-weight: 100;
        font-size: 13px;
        line-height: 18px;
        color: #50A5F1;
        margin-bottom: 6px;
      }
      span{
        position: absolute;
        width: 9px;
        height: 9px;
        top: 4px;
        left: -14px;
        background-size: contain;

      }
      .phone_logo{
        background-image: url("../img/call_manager.svg");
      }
      .email_logo{
        background-image: url("../img/send_mail_2.svg");
      }
      .skype_logo{
        background-image: url("../img/skype_manager.svg");
      }
    }
  }
  .send-leader{
    padding: 15px 0 20px;

    h5{
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 22px;
      color: #495057;
      margin-bottom: 26px;
    }

    p{
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-weight: 100;
      font-size: 13px;
      line-height: 18px;
      margin: 0 0 7px;
    }

    input{
      background-color: #F3F3F9;
      border: none;
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #2A3042;
      padding: 9px 10px !important;
    }
    textarea{
      background-color: #F3F3F9;
      padding: 9px 10px !important;
      border: none;
      border-radius: 2px;
      height: 110px;
      overflow: hidden;
      font-family: "Open Sans", "sans-serif";
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #2A3042;

    }
  }
  .react-tel-input input[type=tel], .react-tel-input input[type=text].phone-number{
    margin-left: 40px !important;
    width: calc(100% - 40px) !important;
    border-radius: 0 5px 5px 0;
  }
  .send-button{
    background: #50A5F1;
    opacity: 0.7;
    border-radius: 25px;
    padding: 10px 58px;
    border: none;
    transition: 400ms;
    width: 230px;
    height: 42px;
    margin: auto;
    button{
      background-color: transparent;
      border: none;
      margin: -7px 0;
      cursor: pointer;
      font-family: "Open Sans", 'sans-serif';
      font-style: normal;
      font-weight: 100;
      font-size: 16px;
    }
    &:hover{
      opacity: 1;
    }
  }

}