@import "styles-group";
.material {
  padding-bottom: 50px;
  .mob-title{
    display: none;
    @media screen and(max-width: 720px) {
      display: contents;
      width: 100px;
    }
  }
  .title{
    @media screen and(max-width: 720px) {
      display: none !important;
    }
  }
  &-products {
    .tab-content-list {
      > div {
        &:first-of-type {
          padding-left: 20px;
          opacity: 1 !important;
          a {
            cursor: default !important;
          }
        }
      }
      > .material-products-details{
        &:first-of-type {
          a{
            cursor: pointer !important;
          }
        }

      }
    }
    &-details {
      cursor: pointer !important;
      color: red;
    }
  }
  &-categories {
    .tab-content-list {
      div {
        &:first-of-type {
          width: 100%;
          padding-left: 20px;
          opacity: 1 !important;
          a {
            cursor: default !important;
          }
        }
      }
    }
  }
  .empty-content {
    &-img {
      margin: 225px auto 0;
      display: block;
    }
    &-title {
      text-align: center;
      font-size: 20px;
      font-weight: bold;
    }
    &-text {
      text-align: center;
    }
    &-button {
      margin: 24px auto;
      height: 50px;
      width: 180px;
      font-size: 15px;
      display: block;
    }
  }
  #tab1, #tab4, #tab5 {
    //.material-products {
    .tab-content-list {
      word-break: break-word;
      justify-content: space-between;
      display: flex;
      margin-bottom: 5px;
      position: relative;

      @media screen and(max-width: 720px) {
        display: block;
        width: 100%;
        border-radius: 10px;
        padding: 5px 0;
        background-color: #fff;
      }

      div {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 23%;
        margin-right: 3px;
        overflow: hidden;
        padding: 5px 5px;
        @media screen and(max-width: 1000px) {
          font-size: 12px;
        }
        @media screen and(max-width: $tablet-width) {
          width: 30%;
          padding-left: 5px;
          font-size: 11px;
        }
        @media screen and(max-width: 720px) {
          display: block;
          width: 100%;
          overflow: visible;
          //padding: 0 86px 0 67px;
          padding-left: 20px;
          font-size: 11px;
        }

        &:last-of-type {
          margin-right: 0;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
        }

        &:first-of-type {
          justify-content: flex-start;
          width: 30%;
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px;
          @media screen and(max-width: 720px) {
            width: 100%;
          }

          &:hover {
            opacity: 0.7;
          }
        }

        p {
          margin-bottom: 0;
          font-weight: bold;
          line-height: normal;
          //padding-left: 20px;
          width: 80%;
          text-align: center;
          @media screen and(max-width: 720px) {
            text-align: left;
          }
        }

        a {
          display: flex;
          width: 100%;
          justify-content: flex-start;
          align-items: center;
          cursor: pointer;
          padding: 10px 0;

          @media screen and(max-width: $tablet-width) {
            display: block;
            p {
              text-align: center;
            }
          }
          @media screen and(max-width: 720px) {
            padding: 0;
            p {
              text-align: left;
              padding: 0;
            }
          }
        }

      }

      .img-container {
        height: 40px;
        width: 40px;
        display: block;
        float: left;
        margin: 0 4% 0 5%;

        @media screen and(max-width: $tablet-width) {
          float: none;
          margin: auto;
        }

        @media screen and(max-width: 720px) {
          float: none;
          margin: auto;
          position: absolute;
          left: 15px;
          bottom: 0;
          top: 0;
        }

        img {
          max-height: 40px;
          border: solid 1px;
          border-color: $border;
        }
      }


      .delete {
        text-align: center;
        width: 80px;
        overflow: visible;

        @media screen and(max-width: $tablet-width) {
          width: 50px;

          .delete-icon {
            display: flex;
            margin-top: 1px;
          }
        }
        @media screen and(max-width: 720px) {
          width: 50px;
          position: absolute;
          width: 40px;
          height: 40px;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          padding: 10px 0;
        }

        .delete-icon {
          justify-content: center;
          padding: 0;
          height: auto;
        }

        .dropdown-menu {
          width: auto;
          display: none;
          border-radius: 4px;

          &:hover {
            opacity: 1 !important;
          }

          &.show {
            display: block;
          }
        }
      }

      &.hide {
        right: 100%;
        transition: right ease-in-out 0s;
        display: none;
      }
    }
  }
  .tab-content .access-tab#tab4 .access{
    @media screen and(max-width: $mob-width) {
      min-width: 0;
    }
  }

}

