@import "styles-group";


.payments-message {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}


.tab-content {
  max-height: 100%;

  .tab-pane {
    width: 100%;

  }


  .description-currency {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    margin-top: 5px;
    color: #495057;

    @media screen and (max-width: $mob-width) {
      font-size: 13px;
    }
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    margin: 30px auto 0;

    @media screen and (max-width: $mob-width) {
      grid-template-columns: repeat(2, 1fr);
    }

    .card {
      display: flex;
      flex-direction: column;
      width: 228px;
      background: #FFFFFF;

      border: 2px solid #F6F6F6;
      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);

      border-radius: 20px;
      min-height: 288px;
      justify-content: stretch;
      position: relative;
      overflow: hidden;
      padding: 0;

      @media screen and (max-width: $laptop-width){
        width: 180px;
      }

      @media screen and (max-width: $mob-width) {
        width: 150px;
        min-height: 250px;
      }

      .card-button {
        padding: 12px 23px 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        background: #50A5F1;
        border-radius: 0 0 20px 20px;
        color: #FFFFFF;
        margin: 0;
        cursor: pointer;

        @media screen and (max-width: $laptop-width){
          font-size: 12px;
          line-height: 18px;
        }

        @media screen and (max-width: $mob-width) {
          font-size: 12px;
          line-height: 14px;
        }

        img {
          margin-left: 12px;
          max-width: 20px;
        }
      }

      .label {
        font-style: normal;
        font-weight: normal;
        font-size: 14.5806px;
        line-height: 17px;
        letter-spacing: 3.24014px;
        text-transform: uppercase;

        color: #FFFFFF;

        position: absolute;
        top: 18px;
        width: 130px;
        right: -31px;
        background: #50A5F1;
        transform: rotate(45deg);
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 7px;
        padding-bottom: 9px;


      }
    }

    .card-inner {
      padding: 40px 16px 30px;
      height: 100%;

      @media screen and (max-width: $laptop-width){
        padding: 30px 10px 20px;
      }

      @media screen and (max-width: $mob-width) {
        padding: 25px 10px 15px;
      }

      .count-months {
        margin-bottom: 15px;
      }

      .unit {
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        letter-spacing: 0.05em;
        color: #495057;
        @media screen and (max-width: $laptop-width){
          font-size: 12px;
          line-height: 18px;
        }

        @media screen and (max-width: $mob-width) {
          font-size: 12px;
          line-height: 14px;
        }
      }

      .additional {
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 25px;
        color: #495057;
        @media screen and (max-width: $laptop-width){
          font-size: 12px;
          line-height: 18px;
        }

        @media screen and (max-width: $mob-width) {
          font-size: 12px;
          line-height: 14px;
        }
      }

      hr {
        margin: 25px 0;
        background: #253053;
        opacity: 0.2;
        @media screen and (max-width: $laptop-width){
          margin: 15px 0;
        }

        @media screen and (max-width: $mob-width) {
          margin: 10px 0;

        }
      }

      .blue_text {
        color: #50A5F1;
        font-weight: 600;
        font-size: inherit;
      }

      .month-price {
        margin-bottom: 15px;
      }
    }

    .card-inner .month-price, .total {
      font-style: normal;
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #495057;

    }
  }


  .payments-license-block {
    padding: 10px 0 10px 15px;

    span, a {
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #50A5F1;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        border-bottom: none;
      }

      & + span {
        margin-left: 30px;
      }
    }
  }
}

.payment-loader {
  display: block;
  margin: 0 auto;
  height: 100px;
  width: 100px;
}

.make-payment-modal {

  .modal-content {

    .modal-header {
      padding: 5px 50px 5px 15px;

    }

    .modal-body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 25px;

      button {
        height: 42px;

        padding: 10px 64px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        color: #FFFFFF;
        background: #50A5F1;
        border-radius: 30px;
        border: none;

        &.gray-button {
          height: 42px;
          margin-top: 5px;
          padding: 10px 64px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          /* identical to box height */
          opacity: 1;
          color: #F46A6A;
          background: none;
          border-radius: 0;
          border: none;
        }
      }

    }
  }
}

.payments-inner {
  display: flex;
  margin-bottom: 7px;
  justify-content: space-between;

  .payments-list-block {
    max-width: 1021px;

    @media screen and (max-width: $laptop-width){
      max-width: 820px;
    }

  }

  .payments-list-block,
  .payments-list-block2,
  .payments-list-block3 {
    background: #FFFFFF;
    /* Drop Shadow */

    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 10px;
    display: inline-block;
    margin: 0 10px 0 0;
    padding: 20px 18px;
  }

  .payments-list-block2,
  .payments-list-block3 {
    width: 45%;
  }

  .payments-list-block3 {
    margin-right: 0;
    max-width: 100%;
    height: min-content;

    @media screen and (max-width: $laptop-width){
      max-width: 100%;
    }

    .payments-content {

      &.total-price {
        margin-top: 20px;

      }

      label {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .packets-container {

          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .packet-name {
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #495057;

            .sms-amount {
              font-weight: 400;
              font-size: 16px;
              line-height: 22px;
              color: #495057;
            }
          }

          .sms-price {
            text-align: right;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            color: #495057;
          }
        }
      }
    }
  }

  @media screen and (max-width: $mob-width) {
    .payments-list-block {
      width: 100%;
      margin-right: 0;

    }

    .payments-list-block2,
    .payments-list-block3 {
      margin-right: 0;

      width: 100%;
    }
  }

  .payments-content {
    .payment-choose-packet {
      width: 100%;
      text-align: center;
      font-size: 18px;
    }

    .button {
      background: #50A5F1;
      border-radius: 30px;
      height: 42px;
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      text-align: center;
      color: #FFFFFF;
      padding: 10px 68px;
      border: none;

    }

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 8px 0 12px;
      width: 100%;

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */

        @media screen and (max-width: $mob-width) {
          font-size: 13px;
        }

        /* text */

        color: #495057;

        &.total-price {
          font-weight: 600;
          font-size: 16px;
          line-height: 22px;
          display: flex;
          color: #495057;
          justify-content: space-between;
          width: 100%;
          margin-top: 20px;

          span {
            display: inline-block;
            font-weight: 600;
            font-size: 16px;
            line-height: 22px;
            text-align: right;
            color: #495057;
          }

          @media screen and (max-width: $mob-width) {
            font-size: 13px;
            span {
              font-size: 13px;

            }
          }
        }
      }

      .sms-price {
        width: 150px;
        font-size: 16px;
        margin: 0;
        font-weight: normal;

        @media screen and (max-width: $mob-width) {
          font-size: 13px !important;
        }
      }

      span {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        @media screen and (max-width: $mob-width) {
          font-size: 13px !important;
        }

        color: #495057;

        span {
          font-weight: normal;
          font-size: 12px;
          width: 100%;
        }
      }

      input[type="radio"] {
        display: none;


        + .check-box-circle {
          border-radius: 50%;
          background: rgba(0, 0, 0, 0) !important;
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 18px;
          height: 18px;
          cursor: pointer;
          position: absolute;
          left: 0;
          top: 0;
          bottom: 0;
          margin: auto;
          transition: 200ms !important;
          box-sizing: border-box;
          border: 1px solid rgba(128, 128, 128, 0.3);

        }

        &:checked {

          + .check-box-circle {
            transition: 200ms;
            background: #FFFFFF;
            border: 4px solid #50A5F1;
            box-sizing: border-box;
          }
        }
      }


      label {
        padding-left: 33px;
        position: relative;
        display: flex;
        margin: 0;
        align-items: center;
        justify-content: space-between;

      }
    }
  }

  .title-payments {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */

    @media screen and (max-width: $mob-width) {
      font-size: 16px;
      margin-bottom: 20px;

    }


    color: #495057;
    margin-bottom: 30px;
  }

  .subtitle-payments {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: left;
    /* identical to box height */
    @media screen and (max-width: $mob-width) {
      font-size: 13px;
    }


    /* text */

    color: #495057;
  }

  .range {
    position: relative;
    width: 100%;
    height: 2px;
    display: flex;
    max-width: 900px;
    height: 0;
    margin: auto;

    input {
      width: 100%;
      position: absolute;
      padding: 15px 8px;
      top: 0;
      height: 0;
      -webkit-appearance: none;
      margin: 0;
      border: none;
      border-radius: 0;
    }

    input::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 12px;
      height: 12px;
      margin: -5px 0 0;
      border-radius: 50%;
      background: #50A5F1;

      cursor: pointer;
      border: 0 !important;
    }

    input::-moz-range-thumb {
      width: 12px;
      height: 12px;
      margin: -5px 0 0;
      border-radius: 50%;
      background: #50A5F1;

      cursor: pointer;
      border: 0 !important;
    }

    input::-ms-thumb {
      width: 12px;
      height: 12px;
      margin: -5px 0 0;
      border-radius: 50%;
      cursor: pointer;
      border: 0 !important;
      background: #50A5F1;
    }

    input::-webkit-slider-runnable-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #EDEDEE;
    }

    input::-moz-range-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #EDEDEE;
    }

    input::-ms-track {
      width: 100%;
      height: 2px;
      cursor: pointer;
      background: #EDEDEE;
    }

    input::-ms-track {
      width: 100%;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }
  }

  .inputs-hiden .range input::-webkit-slider-thumb {
    display: none;
  }

  .inputs-hiden .range input::-moz-range-thumb {
    display: none;
    background: none;
  }

  .inputs-hiden .range input::-ms-thumb {
    display: none;
  }

  .range-labels {
    margin: 0 0 0;
    padding: 0 5px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: auto;

    li {
      position: relative;
      float: left;
      width: 40px;
      text-align: center;
      font-size: 13px;
      line-height: 18px;
      color: #495057;
      cursor: pointer;

      &.active {
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        /* identical to box height */


        color: #50A5F1;
      }

      &:hover {
        box-shadow: none;
      }
    }

    .selected::before {
      background: #0a1330;
    }

    .active.selected::before {
      display: none;
    }
  }

  #range-month {
    min-height: 65px;

    .range-labels {
      li {
        width: 140px;
        display: flex;
        display: -webkit-flex;
        display: -moz-flex;
        align-items: flex-end;

        &:last-child {
          text-align: right;
          justify-content: flex-end;
        }

        &:first-child {
          text-align: left;
          justify-content: flex-start;
        }

      }
    }
  }

  .radio {
    display: none;
    margin: 10px 0 0 7px;
  }

  .radio + label {
    position: relative;
    padding: 0 0 0 28px;
    cursor: pointer;
    outline: none;
    display: flex;
    align-items: center;
    height: 32px;

    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */


    /* text */

    color: #495057;
  }

  .radio + label:before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    box-sizing: border-box;
    border-radius: 50%;
    background: #FFF;
    transition: .2s;

  }

  .radio + label:after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 3px solid #50A5F1;
    box-sizing: border-box;
    box-shadow: none;
    opacity: 0;
    transition: .2s;
  }

  .radio:checked + label {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* identical to box height */


    /* text */

    color: #495057;
  }

  .radio:checked + label:after {
    opacity: 1;
  }

  .radio:focus + label:before {
    box-shadow: none;
  }

  .radio-buttons div {
    display: inline-block;
    margin: 0 3%;
  }

  .radio-buttons {
    text-align: center;
    margin: 30px 0 30px;
    display: flex;
    display: -webkit-flex;
    align-items: baseline;
    justify-content: space-between;

    label {
      margin-bottom: 0;
    }
  }

  #range-staff {
    &.inputs-hiden {
      .range {
        background: none !important;
      }

    }
  }

  .button {

    &.button-selected {
      color: #0a1330;
      background-color: #BFC8D7;
      border-color: #BFC8D7;
    }
  }

  //@media screen {
  //  @media(max-width: $laptop-width) {
  //    .title-payments {
  //      font-size: 16px;
  //      margin-bottom: 15px;
  //    }
  //    .range-labels {
  //      height: 35px;
  //
  //      li {
  //        font-size: 16px;
  //      }
  //    }
  //    .radio-buttons {
  //      margin: 0 0 35px;
  //    }
  //    .radio + label {
  //      font-size: 16px;
  //    }
  //    #range-month {
  //      min-height: 100px;
  //
  //      .range-labels li span {
  //        top: 65px;
  //        font-size: 16px;
  //      }
  //    }
  //    .payments-content div p.total-price {
  //      font-size: 16px;
  //    }
  //    .payments-content div p.total-price span {
  //      font-size: 30px;
  //    }
  //    .payments-list-block, .payments-list-block2 {
  //      padding: 20px;
  //    }
  //    .payments-content {
  //
  //      div {
  //        margin: 5px 0 10px;
  //      }
  //    }
  //    #range-month .range-labels li {
  //      width: 90px;
  //    }
  //  }
  //  @media(max-width: 1200px) {
  //    margin-bottom: 0;
  //    flex-wrap: wrap;
  //
  //    .payments-list-block,
  //    .payments-list-block2 {
  //      width: 100%;
  //      margin-bottom: 15px;
  //      margin-right: 0;
  //    }
  //  }
  //  @media(max-width: 600px) {
  //    .title-payments {
  //      text-align: center;
  //    }
  //    .radio + label {
  //      font-size: 13px;
  //    }
  //    .range-labels li {
  //      font-size: 13px;
  //      width: 22px;
  //
  //      span {
  //        font-size: 13px !important
  //      }
  //    }
  //    .payments-content {
  //      div p {
  //        font-size: 14px;
  //        font-family: 'helvetica';
  //      }
  //
  //      .total-price {
  //        line-height: normal;
  //        justify-content: space-between;
  //
  //        span {
  //          line-height: normal;
  //          font-size: 25px !important;
  //          width: 50%;
  //          text-align: right;
  //        }
  //      }
  //
  //      .button {
  //        display: block;
  //        margin: auto;
  //      }
  //    }
  //    .radio-buttons {
  //      max-width: 150px;
  //      margin-left: auto;
  //      margin-right: auto;
  //
  //      div {
  //        display: block;
  //        margin: 22px 3%;
  //      }
  //    }
  //    .payments-list-block,
  //    .payments-list-block2 {
  //      padding: 15px;
  //    }
  //    .range-labels {
  //      padding: 0 5px;
  //      height: 40px;
  //    }
  //    .range {
  //
  //      input {
  //        padding: 0;
  //      }
  //    }
  //    #range-month .range-labels li {
  //      //width: 72px;
  //    }
  //  }
  //  @media(max-width: 500px) {
  //    .payments-list-block .payments-content {
  //      label {
  //        flex-direction: column;
  //        height: auto;
  //        align-items: flex-start;
  //
  //        span {
  //          width: auto;
  //          line-height: normal;
  //        }
  //      }
  //    }
  //
  //    #range-month .range-labels li {
  //      width: 73px;
  //    }
  //  }
  //}
}


.rateLine {
  position: absolute;
  height: 3px;
  background: #50A5F1;
  border-radius: 15px;
  bottom: -17px;
  max-width: 900px;
  max-width: 95%;
  //margin-left: -15px;
}

.rateLineHidden {
  display: none;
}

.range-hidden input::-webkit-slider-thumb {
  background: transparent !important;
}

.range-hidden input::-moz-range-thumb {
  background: transparent !important;
}

.range-hidden input::-ms-thumb {
  background: transparent !important;
}

.range input {
  width: calc(100% + 24px);
  //margin-left: -12px;

}

//.range-labels li:first-child{
//  margin-right: -1.5%;
//}
//.range-labels li:last-child{
//  margin-left: -1.5%;
//}
//@media screen and (max-width: 820px){
//  .range-labels li:first-child{
//    margin-right: -3%;
//  }
//  .range-labels li:last-child{
//    margin-left: -3%;
//  }
//}
//
//@media screen and (max-width: 500px){
//
//  .range-labels li:first-child{
//    margin-right: -5%;
//  }
//  .range-labels li:last-child{
//    margin-left: -5%;
//  }
//}

//--------ACTS-------

#acts {

  background: #FFFFFF;
  max-height: 429px;
  box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
  border-radius: 10px;
  overflow: auto;

  .acts-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */


    color: #495057;
    padding: 18px 20px;
    margin-bottom: 0;

    @media screen and (max-width: $mob-width) {
      font-size: 16px;
    }
  }

  .header-invoice {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 1;
    background: #fff;

    div {
      p {
        font-style: normal !important;
        font-weight: 600 !important;
        font-size: 16px !important;
        line-height: 22px !important;
        color: #495057 !important;


        @media screen and (max-width: $mob-width) {
          font-size: 13px !important;
          line-height: 16px !important;
        }
      }
    }
  }

  .invoice {
    padding: 20px 18px;
    border-bottom: 1px solid #EFF2F7;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    text-align: left;

    div {
      width: 25%;
      text-align: left;
      cursor: pointer;

      p {
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        /* identical to box height */
        color: #495057;

        @media screen and (max-width: $mob-width) {
          font-size: 13px;
          line-height: 16px;
        }
      }
    ;
    }

    .inv-number {
      p {
        color: #50A5F1;

      }
    }

    .inv-status {

    }
  }
}

#acts {
  .chosen-invoice-wrapper {
    z-index: 999998;

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);

    .chosen-invoice {
      border-radius: 10px;
      z-index: 999999;
      position: absolute;
      left: 50%;
      top: 50%;
      width: 70%;
      max-width: 1132px;
      transform: translate(-50%, -50%);
      background-color: #F4F4F7;


      @media screen and (max-width: $mob-width) {
        max-width: 100%;
        width: 100% !important;
      }

      .modal-header {
        background: #FFFFFF;
        /* Drop Shadow */
        border-radius: 10px 10px 0px 0px;
        padding: 20px 30px;
        position: relative;

        h4 {
          font-weight: normal;
          font-size: 24px;
          line-height: 33px;
          /* identical to box height */


          color: #2A3042;

        }

        .close {
          margin: 0;
          position: absolute;
          top: 50%;
          right: 10px;
          transform: translateY(-50%);
        }
      }

      .act-body-wrapper {
        overflow: hidden;
      }

      .acts-body {
        max-height: 70vh;
        overflow: auto;
        margin-top: 20px;
        background: #FFFFFF;
        border-radius: 0 0 10px 10px;

        @media screen and (max-width: $mob-width) {
          max-height: 80vh;
        }


      }

      @media screen and (max-width: 960px) {
        left: 50%;
        width: 90%;
      }
    }

  }
}

#divIdToPrint {
  padding: 0 30px;

}

.current-packet-container {
  padding: 5px 18px;
  display: flex;

  .current-packet {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    text-align: right;
    margin-bottom: 3px;
    /* text */

    color: #495057;
  }

  .current-packet-timing {
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */

    text-align: right;
    margin-left: 20px;

    color: #F46A6A;
  }
}

.current-packet {
  @media screen and (min-width: 576px) {
    text-align: right;
  }
}

#acts {
  .row-status {
    width: 755px;
    margin-left: 20px;
    height: 80px;
    padding: 10px 2%;
    display: flex;

    button {
      background-color: $color-light-red;
      border-radius: 5px;
      border: none;
      margin: auto 0;
      font-weight: bold;
    }
  }

  .acts-body {
    display: flex;
    flex-direction: column;

    .account-info {
      max-height: 50px;
      margin: 15px 0 50px;

      h3, p {
        text-align: center;
        width: 100%;

      }
    }

    .customer-seller {
    }

    .customer, .seller, .payments-type {
      padding-top: 45px !important;
      padding-bottom: 0 !important;

      @media screen and (max-width: $mob-width) {
        padding-top: 10px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
      }

      .status {
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

      }

      p {
        min-height: 80px;

        @media screen and (max-width: $mob-width) {
          min-height: 40px;
        }
      }

      p, strong {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        text-align: left;


        color: #2A3042;
      }

      strong {
        font-weight: 600 !important;

      }
    }

    .customer, .seller {

      p {
        margin-bottom: 5px;
      }
    }

    .payments-type {
      padding: 15px;

      p {
        margin-bottom: 5px;
      }
    }

    .table {
      display: flex;
      flex-direction: column;
      align-items: center;

      p {
        width: 100%;
      }

      .table-header {
        div {
          text-align: left;
          font-weight: normal;
          font-size: 18px;
          line-height: 25px;

          color: #2A3042;
        }

        .mob {
          display: none;
        }

      }

      .table-row div {
        margin-bottom: -1px;
        font-weight: 600;
        font-size: 18px;
        line-height: 25px;

        color: #2A3042;
      }

      div {
        display: flex;
        width: 100%;
        justify-content: space-between;

        div {
          //padding: 0 20px;
        }

        div:last-child {
          margin-right: 0;
        }
      }

      .table-description {
        padding-left: 0 !important;
      }

      @media screen and (max-width: $mob-width) {
        .table-count, .table-price, .table-description {
          padding: 0 !important;
        }
      }

      .table-count {
        padding-right: 30px !important;

        @media screen and (max-width: $mob-width) {
          padding-right: 15px !important;
        }
      }

    }

    .footer-container {
      margin-top: 40px;
    }

    .payment-button-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row-status {
        width: unset !important;
        margin: 0;

        .inv-date {
          background: #50A5F1 !important;


          border-radius: 30px;
          font-weight: normal;
          font-size: 16px;
          line-height: 22px;
          /* identical to box height */
          height: 42px;
          text-align: center;

          color: #FFFFFF;
          padding: 10px 65px !important;
        }
      }
    }


    .result-price {
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin: 0 0 10px 0;

      div {
        font-weight: normal;
        font-size: 18px;
        line-height: 25px;
        /* identical to box height */


        color: #2A3042;
      }

      .bold-text {
        margin-top: 5px;
        font-style: normal;
        font-weight: 600;
        font-size: 36px;
        line-height: 49px;
        /* identical to box height */


        color: #2A3042;

      }
    }

    .download {
      font-weight: normal;
      font-size: 16px;
      line-height: 22px;
      /* identical to box height */
      cursor: pointer;
      text-decoration-line: underline;

      color: #50A5F1;

      text-align: right;
    }
  }

  @media screen and (max-width: 768px) {
    .customer-seller {
      text-align: center;
    }
    .seller {
      margin: 30px 0;
    }
    .table-header {
      .default {
        display: none;
      }

      .mob {
        display: block !important;
      }
    }
  }
  @media screen and (max-width: 480px) {
    .payments-type {
      text-align: center;
      margin-bottom: 20px;
    }
    .table-header div {
      padding: 10px 0 !important;
    }
    .result-price {
      width: 100% !important;
    }
  }
}

#licenseBlockID {
  position: absolute;
  bottom: 1000px

}
