@import "styles-group";

#payroll {
  .staffs-list {
    max-width: 236px;
    width: 236px;
    background: #FFFFFF;
    max-height: calc(100vh - 80px);
    overflow-x: auto;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 2px;



    .list-item {
      padding: 15px 11px;
      border-bottom: 1px solid #EAEBED;
      transition: 200ms linear;
      cursor: pointer;

      &.selected, &:hover { // IF SELECTED OR HOVER
        background: #50A5F1;
        transition: 200ms linear;
        border-color: #50A5F1;

        .staff-credit {
          color: #fff;
        }
      }

      .staff-image {
        width: 24px;
        height: 24px;
      }

      .staff-credit {
        margin-left: 10px;
        color: #495057;

        .staff-name {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: inherit;
        }

        .staff-role {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          color: inherit;
        }
      }
    }
  }

  .main-container {
    margin-left: 13px;

    .header-nav-tabs {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
      border-radius: 2px;
      margin-bottom: 10px;
    }

    .stats-container {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
      border-radius: 2px;
      margin-bottom: 10px;

      .col {
        padding: 10px 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: end;

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
          color: #2A3042;
          margin-bottom: 8px;
        }

        .stat {
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          color: #495057;
          margin: 0;
        }

        &::after {
          content: '';
          position: absolute;
          right: -1px;
          top: 50%;
          transform: translateY(-50%);

          border-radius: 5px;
          width: 1px;
          height: 59px;
          background-color: #EAEBED;

        }
      }
    }
  }

  .table-container {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 5px 0px 0px 0px;
    height: 100%;

    .table {
      .table-header-title {
        padding: 13px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #2A3042;
        vertical-align: middle;
        border-top: none;
      }
      thead {
        border-bottom: 1px solid #EAEBED;
      }
    }

  }


  @media screen and (max-width: $mob-width) {
    flex-direction: column;
  }
}
