@import "styles-group";

#payroll {
  max-height: calc(100vh - 80px);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 100%;
  .staffs-list {
    max-width: 236px;
    width: 236px;
    background: #FFFFFF;
    max-height: calc(100vh - 80px);
    overflow-x: auto;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 2px;

    .list-item {
      padding: 15px 11px;
      border-bottom: 1px solid #EAEBED;
      transition: 200ms linear;
      cursor: pointer;

      &.selected, &:hover { // IF SELECTED OR HOVER
        background: #50A5F1;
        transition: 200ms linear;
        border-color: #50A5F1;

        .staff-credit {
          color: #fff;
        }
      }

      .staff-image {
        width: 24px;
        height: 24px;
      }

      .staff-credit {
        margin-left: 10px;
        color: #495057;

        .staff-name {
          font-style: normal;
          font-weight: normal;
          font-size: 13px;
          line-height: 18px;
          color: inherit;
        }

        .staff-role {
          font-style: normal;
          font-weight: normal;
          font-size: 10px;
          line-height: 14px;
          color: inherit;
        }
      }
    }
  }

  .main-container {
    margin-left: 13px;
    max-height: calc(100vh - 80px);

    .header-nav-tabs {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
      border-radius: 2px;
      margin-bottom: 10px;

      .nav-tabs {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: hidden;
        margin-left: 20px;
        margin-bottom: 0;
        .nav-item {
          margin: 0;
          cursor: pointer;
          .nav-link {
            background: none;
            border: none;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;


            color: #495057;
            padding: 17px 10px;
            position: relative;

            opacity: 0.5;

            &.active {
              opacity: 1;

              &:hover {
                background: none !important;
              }

              &::before {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                height: 3px;
                border-radius: 5px;
                background: #495057;
                content: '';
              }
            }

            &:hover {
              background: none !important;
            }
          }


        }
      }

    }

    .stats-container {
      background: #FFFFFF;
      box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
      border-radius: 2px;
      margin-bottom: 10px;

      .col {
        padding: 10px 20px;
        position: relative;
        display: flex;
        flex-direction: column;

        @media screen and (max-width: $laptop-width) {
          justify-content: end;
        }

        .title {
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 18px;
          color: #2A3042;
          margin-bottom: 8px;
        }

        .stat {
          font-style: normal;
          font-weight: normal;
          font-size: 32px;
          line-height: 44px;
          color: #495057;
          margin: 0;
          display: flex;
          flex-direction: column;
          position: relative;

          .income {
            font-style: normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 18px;
            color: #495057;
          }

          .currency {
            line-height: 32px;
            font-size: 13px;
            color: #495057;
            margin-left: 1px;
          }

          &.with-currency {
            flex-direction: row;
            align-items: flex-end;
          }
        }

        &::after {
          content: '';
          position: absolute;
          right: -1px;
          top: 50%;
          transform: translateY(-50%);

          border-radius: 5px;
          width: 1px;
          height: 59px;
          background-color: #EAEBED;

        }
      }
    }
  }

  .table-container {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 5px 0px 0px 0px;
    overflow-y: auto;
    max-height: calc(100% - 175px);

    .table {

      .table-header-title {
        padding: 13px 20px;
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        color: #2A3042;
        vertical-align: middle;
        border-top: none;
      }
      thead {
        border-bottom: 1px solid #EAEBED;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 2;
      }

      tbody {
        .payroll-day {
          &:not(:last-of-type) {
            border-bottom: 1px solid #EAEBED;
          }



          td {
            padding: 13px 20px;
            border-top: none;
            vertical-align: middle;
          }

          &.opened {
            .open-handler-container {
              .open-handler {
                &::after {
                  display: none;
                }
              }
            }
          }

          .open-handler-container {
            display: flex;
            justify-content: center;
            align-items: center;
            .open-handler {
              background: #50A5F1;
              border-radius: 5px;
              width: 30px;
              height: 30px;
              border: 0;
              min-width: 36px;
              min-height: 36px;
              position: relative;

              &::before, &::after {
                position: absolute;
                content: '';
                top: 50%;
                left: 50%;
                background: #fff;
                transform: translate(-50%, -50%);
              }

              &::before {
                width: 12px;
                height: 1px;
              }

              &::after {
                width: 1px;
                height: 12px;
              }

              &.opened::after {
                display: none;
              }
            }
          }

          .weekday-container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .weekday {
              font-style: normal;
              font-weight: 600;
              font-size: 28px;
              line-height: 38px;
              color: #50A5F1;
              margin-bottom: 0;
            }
            .weekday-date {
              font-style: normal;
              font-weight: normal;
              font-size: 10px;
              line-height: 14px;
              text-align: center;
              color: #50A5F1;
            }
          }

          .service-container, .product-container, .income-container {
            p {
              font-style: normal;
              font-weight: 600;
              font-size: 13px;
              line-height: 18px;
              color: #50A5F1;

              &:not(:last-of-type) {
                margin-bottom: 6px;
              }
            }
          }

        }

        .payroll-day-list {
          border-bottom: 1px solid #EAEBED;
          td {
            border: none;
            vertical-align: middle;
            padding: 13px 20px;
            .list-text {
              font-style: normal;
              font-weight: normal;
              font-size: 13px;
              line-height: 18px;
              color: #495057;
            }

          }
        }
      }
    }

  }



  .payroll-tab {
    height: 100%;
  }

  .setting-container {
    max-height: calc(100vh - 80px);
    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 2px;
    height: 100%;
    padding: 20px 15px;

    .settings-title {
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      color: #495057;
      margin-bottom: 20px;

    }

    .salary-container {
      display: flex;
      padding-bottom: 5px;
      margin-bottom: 20px;
      border-bottom: 1px solid #EAEBED;
      .col {
        padding: 0;
      }
    }

    label {
      font-style: normal;
      font-weight: normal;
      font-size: 13px;
      line-height: 18px;
      color: #495057;
      display: flex;
      flex-direction: column;

      input {
        margin-top: 7px;
        background: #F3F3F9;
        border-radius: 2px;
        width: 250px;
        height: 36px;
        border: none;
        padding: 9px 10px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 18px;
        color: #2A3042;
      }
    }

  }


  @media screen and (max-width: $mob-width) {
    flex-direction: column;
  }

}
