@import "styles-group";

.services_list{
    width: 100%;
    display: block;



    .service_one{
        @include border-style();
        justify-content: space-between; 
        padding: 15px 0;
        border-left: 3px solid;
        position:relative;
        align-items: center;

        p{/*изменения*/


            @media screen and(max-width: 580px){/*изменения*/
                height: auto;
                padding-bottom: 0;
                overflow: hidden;
                margin: 0 0 10px;
            }
        }
        &.yellow{
            border-left-color: #fbde14; 
        }
        &.green{
            border-left-color: #8fbc94;
        }
        &.turquoise{
            border-left-color: #45bfb2;
        }
        &.purple{
            border-left-color: #6a60a9;
        }
        &.blue{
            border-left-color: #4ea1d3;
        }
        &.orange{
            border-left-color: #f17f42;
        }
        &.red{
            border-left-color: red;
        }
        &.grey{
            border-left-color: #6d819c;
        }
        &.pink{
            border-left-color: #ef5285;
        }
        &.dark_blue{
            border-left-color: darkblue;
        }

        .buttonsCollapse{
            .yellowButtonEdit{
                border-color: #fbde14;
                background-color: #fbde14;
            }
            .greenButtonEdit{
                border-color: #8fbc94;
                background-color: #8fbc94;
            }
            .turquoiseButtonEdit{
                border-color: #45bfb2;
                background-color: #45bfb2;
            }
            .purpleButtonEdit{
                border-color: #6a60a9;
                background-color: #6a60a9;
            }
            .blueButtonEdit{
                border-color: #4ea1d3;
                background-color: #4ea1d3;
            }
            .orangeButtonEdit{
                border-color: #f17f42;
                background-color: #f17f42;
            }
            .redButtonEdit{
                border-color: red;
                background-color: red;
            }
            .greyButtonEdit{
                border-color: #6d819c;
                background-color: #6d819c;
            }
            .pinkButtonEdit{
                border-color: #ef5285;
                background-color: #ef5285;
            }
            .dark_blueButtonEdit{
                border-color: darkblue;
                background-color: darkblue;
            }
        }

        .new-service{
            margin-left: 5%;
            color: white;

            @media screen and(max-width: $mob-width){
                margin-left: 0;
                width: 35px;
                height: 35px;
                padding: 0 0 0;
                white-space: nowrap;
                text-indent: 767px;
                overflow: hidden;
                background-image: url(../img/add_white.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 16px;
                min-width: 0;
            }
        }
        .edit_service{
            width: 30px;
            height: 30px;
            background-image: url(../img/pen.png);
            background-repeat: no-repeat;
            padding: 0;
            background-position: center;
            background-size: 15px;

            &:hover{
                opacity: 0.7;
            }
        }
        .delete{
            margin-left: 6%;
            cursor: pointer;

            &:hover{
                opacity: 0.7;
            }
        }
        .services_buttons{/*изменения*/
            max-width: 290px;
            @media screen and(max-width: 576px){
                max-width: 100%;
            }
        }
        .ellipsis{
            cursor: grabbing;
            cursor: -webkit-grabbing;
            margin-left: 3%;
            width: 30px;
            text-align: center;

            img{
                height: 20px;
                width: 6px;
            }

            &:hover{
                opacity: 0.7;
            }
        }
        &.hide{
            right: 1000px;
            transition: right ease-in-out 0s;
        }
        .services_items{/*изменения*/
            width: 100%;
            border-bottom: 1px solid #b5b9be;
            padding: 5px;
            display: inline-flex;
            justify-content: space-between;
            background-color: #fff;
            position: relative;
            margin: 1rem 15px 0;

            .gray-text{/*изменения*/
                color: rgba(65, 76, 88, 0.47);
                max-width: 60%;
                height: auto;
            }
            &.hide{
                right: 1000px;
                transition: right ease-in-out 0s;
                display: none;
            }
            .hide-item{
                display: none;
                padding: 5px 0 0;

                span{
                    padding-right: 15px;
                }

                @media screen and(max-width: $tablet-width){
                    display:block;
                }
            }
            .list-inner{
                width: 40%;
                display: flex;
                justify-content: space-between;
                align-items: center;



                span{
                    margin-right: 8%;

                    &.delete{
                        margin-left: 0;
                        margin-right: 0;

                        .delete-icon{
                            height: 25px;
                        }
                    }
                    @media screen and(max-width: $tablet-width){
                        display:none;
                    }
                }
                .dropdown-menu{

                    .button{
                        width: 100%;
                    }
                }
                @media screen and(max-width: $tablet-width){
                    width: 60px;
                    justify-content: flex-end;
                }
            }

        }
    }

}

.color-radius .dropdown-menu {
    width: calc(100% + 2px);
    left: -1px !important;
    max-height: 290px;
    padding: 0;
    right: 0;
    transform: translate3d(0px, 40px, 0px) !important;
    .dropdown-item {
        margin: 0;
    }
}

.services {
    .no-holiday{
        @include border-style();
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 82px;

        span{
            font-size: 20px;

            .button{
                display: block;
                margin: auto;
                font-size: 15px;
                height: auto;
                width: auto;
            }

        }

    }
}

.new-service-modal,
.edit-service-modal{
    z-index: 1050;
    overflow: hidden;
    outline: 0;
    overflow-y: auto;
    .modal-dialog-lg{
        max-width: 100%;
        margin: auto;
        @media screen and(max-width: 991px){
            max-width: 90%;
        }
    }
    .block-style2 {
        width: 100%;
        float: none;
        border-left: 1px solid rgba(146, 146, 146, 0.3);
        height: auto;
        min-height: 0;

        @media screen and(max-width: 991px){
            border-left: none;
            border-top: 1px solid rgba(146, 146, 146, 0.3);
            margin: 0;
            padding: 10px 0 0;
        }
        .clients-list-container{
            @media screen and(max-width: 991px){
                max-height: 300px;
                overflow-y: auto;
                overflow-x: hidden;
            }
            height: 60%;
            overflow-y: auto;
            overflow-x: hidden;
        }
        .img-container{

            img{
                max-height: 35px;
                border: solid 1px;
                border-color: $border;
            }
        }
        ul{
            padding: 0 15px;
            label{
                width: 20px;
                height: 20px;
                margin: 0;
            }

            li{
                align-items: center;
                padding: 0px 0 0px;
                border-bottom: solid 1px rgba(172, 172, 172, 0.2);
                height: 46px;

                div{
                    align-items: center;
                    display: flex;

                    p{
                        padding-bottom: 0;
                        line-height: normal;
                        padding-left: 50px;
                        margin-bottom: 0;
                    }
                }
            }
        }
        .search{

            ul {

                padding: 0;

                li{
                    padding: 0;

                    a{
                        padding: 1rem;
                    }
                }
            }
            input{
                margin-bottom: 0;
            }
        }
    }

    .button{
        display: block;
        float: none;
        margin: 0 20%;
        width: 20%;

        @media screen and(max-width: 991px){
            margin: auto;
            width: auto;
            min-width: 50%;
        }
        @media screen and(max-width: $mob-width){
            width: 92%;
        }
    }
}

.visibleDropdown {
    overflow: visible;

        .dropdown-item {
            border-radius: 0px!important;
        }
}