$font-small: 12px;
$font-reg: 13px;
$font-tablet: 14px;
$font-button: 18px;
$font-body: 16px;
$font-tabs: 16px;
$color-light-red: red;
$button-color: #fff;
$button-color-gray: rgb(0, 0, 0);
$content-color: rgb(0, 0, 0);
$bg_red: #ed1b24;
$border: rgba(172, 172, 172, 0.5);
$mob-width: 500px;
$laptop-width: 1650px;
$tablet-width: 960px;
$large-width: 1820px;

@mixin font-bold() {
  font-family: 'Open Sans', "sans-serif";
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.1px;
  color: $content-color;
  @media screen {
    @media (max-width: $laptop-width) {
      font-size: $font-reg;
    }
  }
}

@mixin font-style-sidebar() {
  font-family: 'Open Sans', 'sans-serif';
  font-size: 16px;
  letter-spacing: -0.1px;
  color: $button-color;
}

@mixin red-title() {
  font-size: 18px;
  color: rgb(237, 27, 36);
  @media screen {
    @media (max-width: $large-width) {
      font-size: 16px;
    }
    @media (max-width: $laptop-width) {
      font-size: 15px;
    }
    @media (max-width: $tablet-width) {
      font-size: 15px;
      text-align: center;
    }
  }
}

@mixin input-text() {
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  border: solid 1px rgba(172, 172, 172, 0.5);
  padding: 10px 10px 10px;
  color: $content-color;
  height: 50px;
  margin-bottom: 10px;
  font-size: 18px;
  @media screen {
    @media (max-width: $large-width) {
      font-size: 16px;
      padding: 15px 20px 15px;
    }
    @media (max-width: $laptop-width) {
      font-size: $font-reg;
      padding: 8px 10px 8px;
      height: 35px;
      margin-bottom: 10px;
    }
  }
}

@mixin button() {
  color: $button-color;
  max-width: 100%;
  line-height: normal;
  padding: 0 20px;
  width: auto;
}

@mixin border-style() {
  border-radius: 10px;
  box-shadow: 5px 6px 20px 0 rgba(188, 191, 205, 0.13);
  background-color: #ffffff;
  border: solid 1px rgba(172, 172, 172, 0.2);
}