.page-item {
  .page-link {
    color: #3b4b5c;
    &:focus {
      box-shadow: none !important;
    }
  }
  &.active {
    .page-link {
      background-color: #3b4b5c;
      border-color: #3b4b5c;
    }
  }
}