@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-Regular.ttf);
}

html, body, h1, html h2, h3, h4, h5, h6, html p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}

html label {
    display: inline;
}

a {
    text-decoration: none;
    color: #000;
    cursor: pointer;
    outline: none;
}

textarea {
    outline: none;
}

input:focus, textarea:focus, button {
    outline: none !important;
}

*::-moz-focus-inner {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    font-weight: normal;
    text-align: left;
}

img, fieldset {
    border: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 0;
    list-style: none;
}

q:before, q:after {
    content: '';
}

/*   end reset   */

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
    display: block;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container_popups {
    max-width: 810px;
    width: 100%;
    z-index: 1000;
    margin: auto;
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 3px;
    min-height: 100vh;
    height: auto;
    box-shadow: 2px 1px 15px 7px rgb(56 62 74 / 8%);
}

.sow {
    position: absolute;
    right: 20px;
}

.sow strong {
    display: block;
}

.approveF {
    border: 1px solid #80808061;
    padding: 23px;
    text-align: center;
    display: flex;
    margin: 21px 0;
    color: white;
}

.all-visits {
    cursor: pointer;
    text-align: center;
    margin: 14px auto;
    display: block;
    border: none;
    text-decoration: underline;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
}

.loader img {
    width: 100px;
    margin: 0 auto;
}

.approveF button {
    cursor: pointer;
}

.approveFYes {
    float: left;
    border-radius: 5px;
    background-color: #39434f;
    border: none;
    margin: auto;
    display: block;
    color: #fff!important;
    font-size: 15px;
    padding: 12px;
    width: 27%;
}

.approveFNo {
    float: left;
    border-radius: 5px;
    background-color: #39434fb3;
    border: none;
    margin: auto;
    display: block;
    color: #fff!important;
    font-size: 15px;
    padding: 12px;
    width: 27%;
}

.container_popups * {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: #09093A;
}

.container_popups strong {
    font-family: 'helvetica_medium';
    font-weight: bold;
    letter-spacing: 0.5px;
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

.modal_menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    left: 0;
    right: 0;
    top: -4px;
    margin: auto;
    max-width: 702px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    z-index: 995;
    background-color: #FFF;
}

.modal_menu * {
    color: #000;
}

.modal_menu p {
    /* display: inline-flex;
    height: 62px;
    align-items: center;
    vertical-align: top;
    line-height: 16px;
    padding-bottom: 6px; */
}

.modal_menu p a:hover {
    text-decoration: underline;
}

.adress-phones {
    /*изменениия*/
    display: inline-block;
    word-break: break-word;
    margin: 6px 4px 2px 2px;
    border-right: solid 1px #ffffff;
    width: calc(50% - 30px);
    padding-right: 0;
}

.adress-icon {
    margin: 0 auto;
    position: relative;
    top: 11px;
    right: 0;
    display: none;
    width: 37px;
    height: 37px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../img/icons/home.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
}

.adress-phones p {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    min-height: 62px;
    max-width: 95%;
}

.search {
    display: flex;
    align-items: center;
}

.final-screen {
    margin-bottom: 10px;
}

.final-book {
    margin-bottom: 18px;
}

.final-book p {
    font-size: 24px;
    letter-spacing: 0.4;
    line-height: 30px;
    color: #3E50F7;
}

.final-screen-block span p {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
}

.firm-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px -2px 19px;
}

.firm-title {
    display: flex;
    align-items: center;
    width: 50%;
}

.firm-icons {
    display: flex;
    justify-content: space-between;
    width: 210px;
    align-items: center;
}

.affiliate {
    margin-top: 13px;
}

.firm_name {
    font-size: 14px;
    line-height: 19px;
    padding-top: 5px;
}

.adress-text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65px;
}

.adress-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.4;
    padding-top: 2px;
}

.header-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px -1px 0px -3px;
}

.header-lang p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #09093A;
}

.header-lang img {
    width: 8px;
    height: 4.24px;
    margin-left: 7px;
}

.separation {
    width: 1px;
    height: 31px;
    background: #09093A;
    opacity: 0.1;
    border-radius: 5px;
}

.modal_menu .firm_name.not-selected {
    /* width: calc(100% - 120px);
    border: none;
    justify-content: center;
    padding: 0; */
}

.place-card-hide {
    display: none !important;
}

.phones_firm a {
    margin-right: 0;
    display: block;
    line-height: 16px;
}

.modal_menu .phones_firm {
    /*изменениия*/
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 60px;
    margin-left: 0;
}

/*.modal_menu .work_time {
    flex-direction: column;
    width: 23%;
    margin-left: 0;
    max-width: 200px;
}*/

.mobile_block span {
    text-align: center;
}

/*.work_time > span{
    display: block;
    width: 100%;
    line-height: 21px;
}
.work_time span span{
    display: block;
    float: right;
}*/

/* .next_block {
    background: url(../img/icons/back.svg) no-repeat;
    display: block;
    width: auto;
    height: 22px;
    background-size: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 15px;
    cursor: pointer;
    font-size: 17px;
    background-position: left center;
    padding-left: 30px;
} */

.prev_block {
    background: url(../img/icons/back.svg) no-repeat;
    background-size: 17px;
    cursor: pointer;
    background-position: left center;
    padding-left: 27px;
    padding-bottom: 1px;
    margin: -3px 0px 0px -4px;
}

.title_block_text {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.prev_block:hover, .next_block:hover {
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .modal_menu .firm_name.not-selected {
        width: calc(100% - 60px)
    }
    .prev_block:hover, .next_block:hover {
        opacity: 1;
    }
    .title_block .prev_block, .title_block .next_block {
        padding: 0;
        margin: 24px 8px;
        background: none;
    }
}

.next_block-btn {
    width: 82px;
    height: 34px;
    margin: 3px -1px 0px 0px;
    background: #3E50F7;
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
}

button, button:active, button:focus {
    outline: none;
}

.next_block-btn:hover {
    cursor: pointer;
    background-color: red;
}

.next_block {
    background: url(../img/icons/skip-arrow.svg) no-repeat;
    background-size: 18px;
    left: auto;
    background-position: right center;
    background-position-x: 124px;
    background-color: white;
    width: 165px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.next_block:hover {
    cursor: pointer;
}

.next_block span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: -27px;
}

.time-footer {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 4px -2px;
}

.time-footer img {
    margin-left: 6px;
    margin-top: 1px;
}

.modal_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.service_selection {
    width: 100%;
}

.service_selection_wrapper {
    position: relative;
}

.online-zapis-off {
    text-align: center;
    font-size: 18px !important;
    margin: 25vh 0;
}

.service_selection.screen0 {
    display: block;
}

.checkedService-block {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.specialist div:nth-child(2n+2) {
    margin-right: 0;
    position: relative;
    float: right;
}

.specialist {
    position: fixed;
    min-height: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(62, 80, 247, 1);
    width: 100%;
    z-index: 10;
}

.specialist-block {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    align-items: center;
    min-height: 72px;
}

.supperVisDet {
    position: relative;
    cursor: pointer;
}

.tap-service-icon {
    height: 20px;
    position: absolute;
    bottom: 2px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.img_container {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_container img {
    border-radius: 50%;
    box-shadow: 2px 3px 15px 0 rgb(56 62 74 / 8%);
    background-color: #ffffff;
    margin: -2px 15px -1px -2px;
    border: solid 1px rgba(172, 172, 172, 0.3);
    max-width: 100%;
    height: 42px;
    width: 42px;
}

.img_container span, .service_item p {
    font-size: 20px;
    font-weight: bold;
    font-family: 'helvetica_medium';
}

.service_item p strong {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 29.3878px;
    line-height: 40px;
    color: #3E50F7;
}

.service_item p span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9.79592px;
    line-height: 13px;
    color: #09093A;
}

.service_item p {
    font-size: 14px;
    letter-spacing: 0;
    display: flex;
}

.service_item label input {
    display: none;
    /* <--скрываем дефолтный чекбокс */
}

.service_item label .checkHelper {
    /* <-- стилизируем новый */
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
    padding-left: 5px;
    margin: 0 20px;
    vertical-align: bottom;
}

.blue-fone {
    background: #3E50F7 !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #FFFFFF !important;
}

.service_item [type=checkbox]:checked+span:before {
    /* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 18px;
    color: #3b4b5c;
    line-height: 30px;
    margin-left: 2px;
}

.service_item p:first-of-type {
    font-size: 14px;
    max-width: 135px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    float: left;
    text-align: left;
    text-align-last: left;
}

.service_footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.service_footer_price {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_footer_price span {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.service_item_price {
    font-size: 14px !important;
}

.runtime {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.7;
    margin-top: -14px;
    margin-bottom: 27px;
}

.service-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-price-text {
    display: flex;
    margin: 0px 0px -16px 0px;
}

.service-price-text strong {
    font-size: 29.3878px;
    line-height: 40px;
    color: #3E50F7;
}

.service-price-text span {
    font-size: 9.79592px;
    line-height: 13px;
}

.black-fone {
    background: rgba(62, 80, 247, 0.07);
    width: 100%;
    width: 89px;
    height: 28px;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
    margin: -43px 0px -28px;
    text-align: center;
}

.runtime strong {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.7;
}

.calendar_modal {
    width: 700px;
    margin: auto;
}

.calendar_modal th {
    font-size: 24px;
    font-weight: bold;
    font-family: 'helvetica_medium';
    text-align: center;
}

.calendar_modal td {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.calendar_modal table {
    width: 100%;
    margin-bottom: 45px;
}

.calendar_modal th, .calendar_modal td {
    padding: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.calendar_modal .no_free_dates {
    color: rgba(65, 76, 88, 0.3);
}

.calendar_modal .no_free_dates:hover {
    font-weight: normal;
    background-color: #fff;
    cursor: context-menu;
}

.calendar_modal td:hover {
    font-weight: bold;
    background-color: rgba(38, 78, 134, 0.09);
}

.calendar_modal tr {
    display: flex;
    width: 100%;
    padding-bottom: 22px;
    justify-content: space-between;
}

.calendar_modal td.no_dates:hover {
    background: none;
    cursor: auto;
}

.round {
    width: 12px;
    height: 12px;
    background-color: #3b4b5c;
    border-radius: 50%;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 14px;
}

.gray_text {
    color: rgba(34, 43, 54, 0.3);
}

.gray_text .round {
    background-color: rgba(34, 43, 54, 0.3);
}

.dark_blue_text, .gray_text {
    position: relative;
}

.calendar_mark {
    display: flex;
}

.dark_blue_text {
    display: flex;
    align-items: center;
}

.dark_blue_text p {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #09093A;
}

.gray_text p {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #C1C1CE;
}

.gray_text {
    display: flex;
    align-items: center;
    margin-left: 48px;
}

.footer_modal {
    /* display: flex;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0; */
}

.footer_modal p {
    font-family: "helvetica_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #09093A;
    opacity: 0.5;
}

.footer_modal p a {
    font-family: "helvetica_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #09093A;
}

.footer_modal p a:hover {
    text-decoration: none;
}

.calendar_modal {
    margin-bottom: 50px;
}

.mobile-visible, .mobile, .work_time.mobile_block, .specialist div .mobile_block, .date_item_popup.mobile_block {
    display: none;
}

.desktop-visible {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
}

.desktop-visible-flex {
    display: flex;
}

.stars {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    opacity: 0.4;
}

.stars span {
    background: url(../img/icons/star_full.svg) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 100% auto;
}

.stars .icon-half-star {
    background: url(../img/icons/half_star.svg) no-repeat;
    background-size: 100% auto;
}

.stars .icon-star {
    background: url(../img/icons/star.svg) no-repeat;
    background-size: 100% auto;
}

.specialist .stars {
    display: none;
    text-align: left;
    text-align-last: left;
}

/*--service_popup--*/

.service_list .service_item p:first-of-type {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.7;
}

.service_list li, .staff_popup li.staff_comment {
    margin-bottom: 20px;
}

.service_list li, .affiliate li.staff_comment, .service_list li:hover, .affiliate li:hover, .affiliate li.active {
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
}

.subsidiary-map {
    width: 660px;
    height: 240px;
    margin: auto;
}

.affiliate li {
    margin: auto;
    margin-bottom: 20px;
    width: 700px;
    height: 340px;
    padding: 20px;
    border-radius: 5px;
}

/*--end service_popup--*/

.staff_popup .mobile_block {}

.affiliate_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-prev {
    flex-grow: 0.58;
}

.service_list_name {
    max-width: 708px;
    margin: auto;
    margin-bottom: 22px;
}

.service_list_name h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
}

.staff_popup_name {
    display: flex;
}

.staff_popup.staff_popup_large .img_container {
    display: block;
    float: none;
    width: 100%;
}

.staff_popup_item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.img_container_block {
    display: flex;
    justify-content: flex-start;
}

.img_container_staff {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.staff_popup .img_container .img_container_block {
    margin-right: 20px;
}

.staff_popup.staff_popup_large .img_container .img_container_block {
    margin-right: 0;
}

.staff_popup .img_container img {
    width: 70px;
    height: 70px;
}

.star-container {
    padding-right: 5px;
}

.staff_popup-name {
    display: flex;
    margin: 11px 0px 7px 0px;
}

.staff_popup-name-stars {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.staff_popup-name p {
    font-size: 16px;
    line-height: 22px;
    color: #09093A;
}

.staff_popup.staff_popup_one li {
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
}

.nearest_appointment {
    font-size: 13px;
    line-height: 20px;
    color: #3E50F7;
}

/* .staff_popup.staff_popup_large .mobile_block .nearest_appointment {
    font-size: 13px;
} */

/* .staff_popup.staff_popup_large .mobile_block .stars {
    font-size: 12px;
} */

.staff_popup.staff_popup_large .img_container .affiliate_name {
    margin-top: 6px;
    display: block;
    text-align: center;
}

.affiliate_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 6px;
    color: #09093A;
}

.staff-comments {
    width: 15px;
    height: 15px;
    background: rgba(62, 80, 247, 1);
    opacity: 0.7;
    border-radius: 50%;
    padding: 4px 6px;
    margin: 0px 0px 0px 5px;
}

.staff-comments:hover {
    cursor: pointer;
    background-color: red;
}

.no-staff {
    text-decoration: underline;
    width: 100%;
    color: red;
    text-align: center;
}

.staff_popup li {
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
    width: 340px;
    height: 190px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    overflow: hidden;
    flex-grow: 1;
}

.staff_popup li:nth-child(2n) {
    margin-left: 20px;
}

.staff_popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    width: 700px;
    margin: auto;
}

/* .staff_popup .mobile_block span {
    font-size: 20px;
} */

/*--end staff_popup--*/

/*--time_popup--*/

.specialist .date_item_popup {
    text-align: left;
    text-align-last: left;
}

.date_item_popup strong {
    display: flex;
    font-size: 20px;
    width: 100%;
    align-items: flex-end;
    height: 40px;
}

.choise_time span {
    font-size: 24px;
    padding: 6px 21px;
    border: solid 0.8px rgba(172, 172, 172, 0.2);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
    color: #09093A;
}

.choise_time span:hover, .selected_time {
    background-color: #ebeff4;
}

.choise_time tr {
    display: block;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
}

/*--end time_popup--*/

/*--time_book_popup--*/

.book_button {
    font-size: 14px;
    line-height: 19px;
    padding: 0px 24px 0px 1px;
    background-position-x: 120px;
}

/*--end time_book_popup--*/

input[type="search"]::-webkit-input-placeholder {
    color: #3b4b5c;
}

input[type="search"]::-moz-placeholder {
    color: #3b4b5c;
}

.screen5>p {
    margin-bottom: 10px;
}

.screen5 input[type="text"], input[type="search"], .screen5 textarea {
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid rgba(9, 9, 58, 0.2);
    padding: 9px 9px;
    width: 317px;
    height: 50px;
    width: 315px;
    height: 34px;
    display: block;
    clear: both;
    resize: none;
    font-size: 13px;
    line-height: 18px;
    color: #09093A;
    opacity: 0.5;
}

.phones_country .form-control {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100% !important;
    border: solid 1px rgba(172, 172, 172, 0.2) !important;
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08) !important;
}

/*.phones_country span{*/

/*    display: inline-block;*/

/*    width: 45px;*/

/*}*/

/*.phones_country input[type="tel"]{*/

/*    display: inline-block;*/

/*    margin-bottom: 0;*/

/*    border: none;*/

/*    box-shadow: 0;*/

/*    width: 100%!important;*/

/*    color: #3b4b5c;*/

/*    padding-left: 10px;*/

/*    margin-left: 5px;*/

/*    border-left: solid 1px rgba(172, 172, 172, 0.2);*/

/*    border: 0px;*/

/*    height: 39px!important;*/

/*    margin-bottom: 10px!important;*/

/*}*/

.screen5 .term {
    text-align: center;
    width: 90%;
    display: block;
    margin: 30px auto 25px;
    color: #686868;
}

.term a {
    text-decoration: underline;
}

.term a:hover {
    text-decoration: none;
}

.container_popups {
    padding-top: 152px;
}

.service_selection.screen0, .service_selection.screen1, .service_selection.screen2, .service_selection.screen3, .service_selection.screen4, .service_selection.screen5 {
    height: auto;
    /*z-index: 0;*/
    position: relative;
    margin-bottom: 80px;
}

.footer_modal {
    position: fixed;
    display: flex;
    justify-content: center;
    min-height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    border: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #FFF;
}

.skip_employee-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 64px;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 12px;
}

.skip_employee-block:hover {
    cursor: pointer;
}

.skip-arrow {
    margin-left: 5px;
    width: 16px;
    height: 12px;
    background-image: url(../img/icons/skip-arrow.svg);
    background-repeat: no-repeat;
}

.skip-arrow-blue {
    margin-left: 15px;
    margin-top: 2px;
    width: 16px;
    height: 12px;
    background-image: url(../img/icons/skip-arrow-blue.svg);
    background-repeat: no-repeat;
}

.skip_employee {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: #3E50F7;
}

.calendar_modal {
    margin-bottom: 50px;
}

.service_list {
    width: 700px;
    margin: auto;
}

.service_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.service_items li {
    width: 340px;
    height: 179px;
    padding: 14px;
    flex-grow: 1;
}

.service_items li:nth-child(2n) {
    margin-left: 20px;
}

.service-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.choise_time {
    width: 700px;
    margin: auto;
    margin-top: 25px;
}

.title_block {
    position: fixed;
    display: flex;
    align-items: center;
    min-height: 65px;
    left: 0;
    right: 0;
    top: 81px;
    margin: auto;
    max-width: 700px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #fff;
    z-index: 999;
}

.title_block .n .affiliate_title {
    justify-content: flex-start;
}

.data_title, .staff_title {
    justify-content: flex-start;
}

.service-title {
    justify-content: space-between;
}
.service-title .modal_title{
    margin-left: 40px;
}

.awesome-icon {}

.staff_title .prev_block span {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #09093A;
}

.staff_title .prev_block {
    flex-grow: 0.443;
}

.data_title .prev_block {
    flex-grow: 0.443;
    margin-top: 1px;
}

/* .n {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    max-width: 700px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #fff;
    z-index: 999;
} */

/*tabs*/

.tabs-container {
    margin-bottom: 0;
}

.tabs-container .tab {
    width: 50%;
    float: left;
    border-bottom: solid 2px rgba(172, 172, 172, 1);
    text-align: center;
    opacity: 0.5;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 0 15px;
    margin-bottom: 20px;
    transition: opacity ease-in-out 0.2s;
}

.tabs-container .tab:hover {
    opacity: 1;
}

.tabs-container .tab.active {
    border-bottom-color: #414c58;
    opacity: 1;
}

.tab-content {
    display: block;
    clear: both;
    width: 100%;
}

.tab-content .list {
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 3px;
    margin-bottom: 20px;
}

.map-container iframe {
    width: 100%;
    height: 200px;
    border: none;
    padding: 5px 5px;
}

.select-location p {
    padding-left: 10px;
    font-size: 20px;
    font-family: 'helvetica_medium';
}

.select-location span {
    padding-left: 10px;
    font-size: 14px;
}

.booking-info {
    display: flex;
    border-top: solid 1px rgba(172, 172, 172, 0.2);
    padding: 10px 10px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.booking-info p {
    padding-left: 0;
    max-width: 100%;
    font-size: 15px;
}

.booking-info span {
    padding-left: 0;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'helvetica_medium';
}

.select-location {
    position: relative;
    cursor: pointer;
}

.select-location:hover>p, .select-location:hover ::after {
    opacity: 0.7;
}

.select-location::after {
    content: '';
    width: 20px;
    height: 30px;
    background: url(../img/icons/next.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
    position: absolute;
    right: 10px;
    margin: auto;
    top: 10px;
}

.map, .list-container {
    display: none;
}

.list-container.active, .map.active {
    display: block;
}

.map iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: none;
    padding: 5px 5px;
}

.mobile {
    margin: 0 auto;
    display: block;
    width: 37px;
    height: 37px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../img/icons/phone.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: relative;
    top: 11px;
    right: 0;
}

.mobile:hover {
    opacity: 0.7;
}

.move-white {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/icons/move-white.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.cancel-white {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/icons/cancel-white.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.modal_menu .phones_firm {
    display: none;
    position: absolute;
    color: #3b4b5c;
    width: 94%;
    margin: auto;
    max-width: 100%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    border: solid 1px rgba(172, 172, 172, 0.2);
    text-align: center;
    padding: 20px 0 20px;
    height: auto;
    right: 0;
    left: 0;
}

.phones_firm a {
    color: #3b4b5c;
    display: inline-block;
    margin: 5px 4% 5px;
}

.supperVisDet_closer, .closer {
    background: url(../img/icons/close.svg) no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    background-size: 100% auto;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.supperVisDet_closer, .closer:hover {
    opacity: 0.7;
}

.adress-phones p {
    padding: 0 4px 0 24px;
    white-space: normal;
    line-height: 19px;
    height: 62px;
    overflow: hidden;
}

.entry_form {
    max-width: 702px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
}

.entry_form_block {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.entry_form-item {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin-bottom: 19px;
    height: 62px;
}

.entry_form-item:nth-child(2n) {
    margin-left: 30px;
}

.entry_form-item p {
    margin-bottom: 9px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.entry_form-item textarea {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
}

.entry_form-item textarea {
    padding: 7px 9px;
}

.entry_form span {
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    opacity: 0.5;
    margin: -6px 0px 4px 1px;
}

.react-tel-input .form-control {
    font-weight: normal;
    font-size: 13px !important;
    line-height: 18px !important;
    padding: 2px 0px 0px 59px !important;
    letter-spacing: 2px !important;
}

.react-tel-input .flag-dropdown {
    border: none !important;
    background-color: rgba(9, 9, 58, 0) !important;
}

.react-tel-input .selected-flag {
    padding: 0px 0px 0px 11px !important;
}

.react-tel-input .selected-flag .arrow {
    left: 27px !important;
    background-image: url(../img/arrow_down.png);
}

.final-screen-block {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(172, 172, 172, 0.1);
    border-radius: 5px;
    margin-top: 18px;
    padding: 20px;
}

.last_list_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last_list_caption {
    display: flex;
    justify-content: space-between;
}

.last_list_img {
    display: flex;
    justify-content: space-between;
}

.last_list_img img {
    width: 46px;
    height: 46px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 50%;
}

.last_list_name {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.last_list_name p {
    opacity: 0.5;
}

.last_list_services {
    display: flex;
    flex-direction: column;
    margin: 27px 0px 10px;
}

.last_list_services span {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

.last_list_services p:nth-child(1) {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
}

.last_list_services p:not(:nth-child(1)) {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
}

.last_list_services p strong {
    font-size: 13px;
    line-height: 18px;
    color: #3E50F7;
}

.last_list_services p span {
    font-weight: 300;
    font-size: 13px;
    line-height: 20px;
}

.last_list_price {
    display: flex;
    align-items: center;
}

.last_list_price p {
    font-size: 13px;
    line-height: 18px;
}

.last_list_price p:nth-child(2) {
    margin-left: 10px;
    font-size: 20px;
    line-height: 27px;
    color: #3E50F7;
}

.last_list_price span {
    margin: 0px 0px 15px 6px;
    font-size: 10px;
    line-height: 13px;
}

.last_list {
    width: 700px;
    border: 1px solid rgba(9, 9, 58, 0.1);
    border-radius: 5px;
    margin: auto;
    padding: 20px 20px 18px 20px;
    margin-top: 13px;
}

.last_footer_block {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: 72px;
    align-items: center;
    margin: auto;
}

.last_footer_block p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
    margin-right: 25px;
}

.cansel_block {
    display: flex;
    margin: 13px 10px 0px -25px;
}

.cansel-visit {
    background: url(../img/icons/skip-arrow-blue.svg) no-repeat;
    background-size: 18px;
    left: auto;
    background-position: right center;
    width: 176px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 14px;
    color: #3E50F7;
    line-height: 19px;
    padding: 0px 0px 2px 0px;
    background-position-x: 154px;
    background-position-y: 17px;
}

.cansel-visit:hover {
    cursor: pointer;
}

/*--media--*/

/*
@media screen and (max-width: 1650px){
    .container_popups * {
        font-size: 14px;
    }
    .modal_menu {
        padding: 10px 10px;
    }
    .modal_title {
        font-size: 16px;
        padding: 16px 0 18px;
    }
    .staff_popup .img_container span {
        line-height: 20px;
        font-size: 18px;
    }
    .staff_popup .affiliate_item, .service_list li a {
        padding: 10px;
    }
    .container_popups {
        max-width: 630px;
        padding-bottom: 60px;

    }
    .firm_name {
        font-size: 18px;
        padding: 0 4px 6px 24px;
    }
    .modal_menu .work_time {
        width: 34%;
        margin-right: 0;
    }
    .staff_popup .mobile_block span {
        font-size: 16px;
    }
    .staff_popup strong {
        font-size: 18px;
    }
    .img_container span, .service_item p {
        font-size: 18px;
    }
    .service_item p {
        font-size: 18px;
    }
    .runtime {
        padding-top: 2px;
    }
    .service_item p strong {
        font-size: 18px;
    }
    .calendar_modal th {
        font-size: 18px;
    }
    .calendar_modal td {
        font-size: 20px;
    }
    .calendar_modal table {
        margin-bottom: 22px;
    }
    .calendar_modal tr {
        padding-bottom: 10px;
    }
    .date_item_popup strong {
        font-size: 18px;
    }
    .choise_time span {
        font-size: 18px;
    }
    .choise_time td {
        margin-bottom: 45px;
    }
    .book_button {
        width: 230px;
        height: 50px;
    }
    .screen5 .term{
        margin: 15px auto 15px;
    }
    .screen5 input[type="text"], input[type="search"] , .screen5 textarea {
        height: 40px;
    }
    .screen5 textarea {
        padding-top: 11px;
    }
    .modal_menu,
    .footer_modal,
    .skip_employee,
    .title_block{
        max-width: 628px;
    }
    .title_block .next_block{
        right: 10px;
    }
    .title_block .prev_block{
        left: 10px;
    }
    .title_block{
        min-height: 50px;
    }
    .container_popups {
        padding-top: 150px;
    }
    .title_block2 {
        min-height: 55px;
    }
}
@media screen and (max-width: 900px){
    .staff_popup {
        margin-bottom: 20px;
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 621px) {
    .adress-text-wrapper {
        display: block !important;
    }
}
@media screen and (max-width: 620px){
    .modal_menu .firm_name {
        font-size: 16px;
        width: calc(65% - 30px);
    }
    .mobile-visible {
        display: block;
    }
    .desktop-visible, .desktop-visible-flex {
        display: none;
    }
    .adress-icon {
        display: block;
    }
    .adress-phones {
        width: 100px;
    }
    .adress-text {
        color: black;
        min-height: 40px !important;
        height: 100% !important;
    }
    .adress-text-wrapper {
        display: none;
        position: absolute;
        color: #3b4b5c;
        z-index: 1;
        width: 94%;
        top: 5px;
        margin: auto;
        max-width: 100%;
        background: #fff;
        border-radius: 6px;
        box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
        border: solid 1px rgba(172, 172, 172, 0.2);
        text-align: center;
        padding: 20px 0 20px;
        height: 70px;
        right: 0;
        left: 0;
    }
    .modal_menu {
        padding: 10px 20px;
    }
    .title_block .prev_block, .title_block .next_block,
    .title_block2 .prev_block, .title_block2 .next_block{
        overflow: hidden;
    }
    .title_block .prev_block,
    .title_block2 .prev_block{
        right: auto;
    }
    .modal_title {
        padding: 20px 0 20px;
        font-size: 20px;
    }

    .img_container span, .service_item p,.service_item p{
        font-size: 18px;
    }
    .service_item span{
        font-size: 16px;
    }
    .service_item p:first-of-type {
        width: 50%;
    }
    .calendar_modal th {
        font-size: 20px;
    }
    .calendar_modal td {
        font-size: 24px;
    }
    .calendar_modal tr {
        padding-bottom: 0;
    }
    .calendar_modal table {
        margin-bottom: 20px;
    }
    .container_popups{
        top: 0;
        padding-bottom: 40px;
    }
    .work_time > span, .work_time > span > span {
        font-size: 14px;
    }
    .specialist .stars {
        border: none;
        background: none;
        height: auto;
        padding: 0;
        margin: 0;
        display: block;
    }
    .service_item p strong {
        font-size: 19px;
    }
    .service_list .service_item p:first-of-type {
        white-space: normal;
        line-height: 18px;
    }
    .service_list li {
        height: 95px;
        overflow: hidden;
    }
    .service_list .runtime{
        padding-top: 5px;
    }
    .staff_popup strong{
        font-size: 16px;
    }
    .staff_popup .mobile_block span{
        font-size: 14px;
    }
    .staff_popup .img_container span {
        line-height: 24px;
        font-size: 18px;
    }
    .skip_employee {
        font-size: 16px;
        margin-top: 25px;
    }
    .date_item_popup strong {
        font-size: 18px;
    }
    .specialist div {
        width: 47%;
    }
    .choise_time span {
        font-size: 16px;
    }
    .final-book p {
        margin: 0 0 20px;
    }
    .cansel-visit{
        margin-top: 0;
    }
    .final-screen {
        margin-bottom: 100px;
    }
}



@media screen and (max-width: 520px){
    .date_item_popup strong {
        align-items: center;
    }
    .specialist div {
        width: 100%;
        padding: 12px 12px;
        min-height: 65px;
        height: auto;
        margin-bottom: 8px;
        box-shadow: none;
    }
    .service_selection {
        padding: 0 12px 0;
    }
    .firm_name {
        font-size: 18px;
        padding: 0 8px 6px;
    }
    .modal_menu {
        padding: 12px 12px;
    }
    .specialist {
        height: auto;
        flex-direction: column;
        margin-bottom: 15px;
    }
    .img_container span, .service_item p {
        font-size: 16px;
        font-weight: normal;
        font-family: 'helvetica_roman';
        text-align: left;
        background-color: white;
    }

    .img_container img {
        margin-right: 15px;
        height: 32px;
        width: 32px;
    }
    .modal_menu .work_time{
        display: none;
    }
    .work_time.mobile_block {
        display: block;
        max-width: 150px;
        width: auto;
        margin: auto;
        float: none;
        clear: both;
        text-align: left;
        max-width: 200px;
    }
    .work_time.mobile_block *{
        color: rgba(65, 76, 88, 0.4);
    }
    .calendar_modal th, .calendar_modal td {
        font-size: 16px;
        width: 30px;
        height: 30px;
    }
    .dark_blue_text, .gray_text {
        padding-left: 15px;
        font-size: 14px;
    }
    .dark_blue_text {
        right: 5%;
    }
    .round {
        width: 10px;
        height: 10px;
    }
    .specialist strong{
        font-size: 16px;
    }
    .footer_modal p, .footer_modal strong, .service_item span, .runtime strong{
        font-size: 14px;
    }
    .img_container {
        width: 50%;
        float: left;
    }
    .runtime {
        padding-top: 4px;
    }
    .container_popups {
        height: 100%;
        min-height: 480px;
        position:relative;
    }
    .specialist div .mobile_block{
        display: block;
        border: none;
        width: 48%;
        float: right;
        height: auto;
        padding: 0;
        max-width: 110px;
    }
    .mobile_block span{
        font-size: 14px;
        letter-spacing: 0.2px;
    }
    .service_item p strong {
        font-size: 14px;
    }
    .service_list li a {
        padding: 10px 10px;
    }
    .service_list li {
        height: auto;
        overflow: hidden;
    }
    .service_list .service_item p:first-of-type {
        width: 45%;
    }
    .staff_popup .affiliate_item {
        padding: 14px 12px;
    }
    .staff_popup .img_container span {
        line-height: 20px;
        font-size: 17px;
    }
    .staff_popup .img_container img {
        margin-right: 5px;
    }
    .staff_popup .mobile_block {
        /*min-width: 200px;*/

/* } */

.date_item_popup strong {
    height: 37px;
}

.choise_time div {
    display: inline-block;
    margin-bottom: 30px;
    width: 46px;
    margin-bottom: 60px;
}

.choise_time div:not(:nth-child(7n)) {
    margin-right: 57px;
}

.choise_time {
    margin-top: 0;
    display: table;
    padding-top: 25px;
}

.date_item_popup.mobile_block {
    display: inline-block;
}

}

.react-tel-input .country-list span {
    margin-right: 6px;
    display: contents;
}

.disabledField {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabledField:hover {
    opacity: 0.5!important;
}

.redBorder {
    border: 1px solid red!important;
}

.supperVisDet .supperVisDet p {
    text-align: left;
    text-align-last: left;
    white-space: normal;
    word-break: break-word;
}

.container_popups .button_block {
    display: flex;
    justify-content: center;
}

.container_popups .load {
    border-radius: 6px;
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #39434f;
    color: white;
    border: solid 1px rgba(172, 172, 172, 0.2);
    padding: 9px 30px;
    font-weight: bold;
    font-family: 'helvetica_medium';
    margin: 40px 0;
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .container_popups {
        padding-bottom: 10px;
    }
    .container_popups .book_button {
        margin: 40px auto;
    }
}

.service_name {
    width: 60%;
}

.service_time {
    width: 40%;
}

.page404 {
    height: 100%;
    background-color: white;
    padding-top: 140px;
    font-family: serif;
    color: #002f84;
}

.page404 .title {
    display: block;
    clear: both;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    letter-spacing: 0;
    font-family: 'helvetica_medium';
    margin-bottom: 100px;
    line-height: 55px;
    margin: auto;
}

.page404 .button {
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 16px 2px rgba(175, 167, 167, 0.56);
    background-color: #ff1e00;
    border: solid 1px rgba(116, 119, 129, 0.18);
    font-size: 17px;
    font-weight: bold;
    letter-spacing: -0.2px;
    color: #ffffff;
    width: 100%;
    max-width: 320px;
    text-align: center;
    cursor: pointer;
    text-align-last: center;
    transition: .4s;
    display: block;
    margin: 0 auto 40px;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: monospace;
}

.page404 .button:hover {
    opacity: 0.7;
}

.page404 .red_center_text {
    color: #ff1e00;
    font-weight: bold;
    font-size: 15rem;
    font-family: 'helvetica_medium';
    font-style: italic;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .page404 .red_center_text {
        font-size: 10rem;
    }
}

@media screen and (max-width: 550px) {
    .page404 .red_center_text {
        font-size: 8rem;
    }
}

@media screen and (max-width: 375px) {
    .modal_menu .firm_name {
        font-size: 12px;
    }
}

@media screen and (max-width: 1650px) {
    .page404 .rate .title, .title {
        font-size: 32px;
        line-height: normal;
    }
}

.page404 .button:hover {
    opacity: 0.7;
    text-decoration: none;
}

*/