@font-face {
    font-family: 'Open Sans';
    src: url(./fonts/OpenSans-Regular.ttf);
}

html, body, h1, html h2, h3, h4, h5, h6, html p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
    padding: 0;
    margin: 0;
    font-size: 100%;
    font-weight: normal;
}
.svg_arrow path{ 
    fill: var(--color_button);
}
html label {
    display: inline;
}

.leng_btn.langNotActive {
    opacity: 0
}

textarea {
    outline: none;
}

input:focus, textarea:focus, button {
    outline: none !important;
}

*::-moz-focus-inner {
    border: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

td, th, caption {
    font-weight: normal;
    text-align: left;
}

img, fieldset {
    border: 0;
}

ol {
    padding-left: 1.4em;
    list-style: decimal;
}

ul {
    padding-left: 0;
    list-style: none;
}

q:before, q:after {
    content: '';
}

/*   end reset   */

* {
    box-sizing: border-box;
}

.clear {
    clear: both;
    display: block;
}

.custom-select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.container_popups {
    max-width: 810px;
    width: 100%;
    z-index: 1000;
    margin: auto;
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 3px;
    min-height: 100vh;
    height: auto;
    overflow: auto;
    box-shadow: 2px 1px 15px 7px rgb(56 62 74 / 8%);
}

.sow {
    position: absolute;
    right: 20px;
}

.sow strong {
    display: block;
}

.approveF {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    display: flex;
    display: visible !important;
}

.modal_window_text {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    border-bottom: 1px solid rgba(9, 9, 58, 0.1);
}

.modal_window_text img:hover {
    cursor: pointer;
}

.modal_window_text .modal_title {
    text-align: center;
    font-size: 18px;
    line-height: 25px;
    padding: 0px 101px 35px 130px;
}

.modal_window_text img {
    width: 20px;
    margin-top: -83px;
    height: 20px;
}

.modal_window_btn {
    display: flex;
    justify-content: space-between;
}

.all-visits {
    cursor: pointer;
    text-align: center;
    margin: 14px auto;
    display: block;
    border: none;
    text-decoration: underline;
}

.loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    position: fixed;
    background: white;
    top: 0;
    left: 0;
}

.loader img {
    width: 100px;
    margin: 0 auto;
}

.approveF button:hover {
    cursor: pointer;
}

.approveF button {
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    border: 0;
    background-color: white;
}

.approveFYes {
    width: 150px;
    height: 38px;
    margin-right: 31px;
}

.approveFNo {
    width: 150px;
    height: 38px;
    margin-left: 29px;
}

.container_popups * {
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    text-align: left;
    color: var(--color_text);
}

.logo {
    width: 40px;
    height: 40px;
    margin-top: 4px;
}

.modal_menu {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 85px;
    left: 0;
    right: 0;
    top: 0px;
    margin: auto;
    max-width: 702px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    z-index: 995;
    background-color: #FFF;
}

.minus_rotate {
    transform: rotate(90deg);
    margin-top: -2px;
}

.minus {
    width: 16px;
    height: 2px;
    background-color: var(--color_button);
}

.minus_hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    margin: 0px -7px 0px 0px;
}

.minus_hover:hover {
    cursor: pointer;
}

.modal_menu p a:hover {
    text-decoration: underline;
}

.adress-phones {
    /*изменениия*/
    display: inline-block;
    word-break: break-word;
    margin: 6px 4px 2px 2px;
    border-right: solid 1px #ffffff;
    width: calc(50% - 30px);
    padding-right: 0;
}

.adress-icon {
    margin: 0 auto;
    position: relative;
    top: 11px;
    right: 0;
    display: none;
    width: 37px;
    height: 37px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../img/icons/home.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
}

.adress-phones p {
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    min-height: 62px;
    max-width: 95%;
}

.search {
    display: flex;
    align-items: center;
}

.final-screen {
    margin-bottom: 60px;
}

.final-book {
    margin-bottom: 18px;
}

.comments .final-book {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 100px;
}

.comments .final-book p {
    font-size: 15px;
    line-height: 20px;
    padding-bottom: 6px;
}

.comments .final-book span {
    font-size: 13px;
    line-height: 18px;
    color: var(--color_button)
}

.comments .final-book span:hover {
    cursor: pointer;
}

.final-book p {
    font-size: 24px;
    line-height: 30px;
}

.finel_color_text p {
    color: var(--color_button);
}

.final-screen-block span p {
    font-weight: normal;
    font-size: 13px;
    line-height: 23px;
    width: 414px;
}

.final-screen-block span p {
    width: 384px;
}

.firm-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0px 0px -2px 19px;
}

.firm-title {
    display: flex;
    align-items: center;
    width: 50%;
}

.firm-icons {
    display: flex;
    justify-content: space-between;
    width: 210px;
    align-items: center;
}

.affiliate {
    margin-top: 13px;
}

.firm_name {
    font-size: 14px;
    line-height: 19px;
    padding-top: 5px;
}

.adress-text-wrapper {
    display: flex;
    justify-content: space-between;
    width: 65px;
}

.adress-text {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    opacity: 0.4;
    padding-top: 2px;
}

.header-lang {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3px 0px 0px 0px;
}

.header-lang p {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.header-lang img {
    width: 8px;
    height: 4.24px;
    margin-left: 7px;
}

.separation {
    width: 1px;
    height: 31px;
    opacity: 0.1;
    border-radius: 5px;
}

.place-card-hide {
    display: none !important;
}

.phones_firm a {
    margin-right: 0;
    display: block;
    line-height: 16px;
}

.modal_menu .phones_firm {
    /*изменениия*/
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 60px;
    margin-left: 0;
}



.mobile_block span {
    text-align: center;
}



.prev_block {
    background: url(../img/icons/back.svg) no-repeat;
    background-size: 17px;
    cursor: pointer;
    background-position: left center;
    padding-left: 27px;
    padding-bottom: 1px;
    margin: -3px 0px 0px -4px;
}

.title_block_text {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.title_block_text a:hover {
    text-decoration: none;
    color: var(--color_text);
}

.prev_block:hover, .next_block:hover {
    opacity: 0.7;
}

@media screen and (max-width: 480px) {
    .modal_menu .firm_name.not-selected {
        width: 124px;
    }
    .prev_block:hover, .next_block:hover {
        opacity: 1;
    }
    .title_block .prev_block, .title_block .next_block {
        padding-left: 13px;
        padding-bottom: 0px;
        margin: -3px 0px 0px -5px;
    }
}

.next_block-btn {
    width: 82px;
    height: 34px;
    margin: 3px -1px 0px 0px;
    background: var(--color_button);
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
}

.next_block-btn_arrow {
    width: 136px;
    height: 34px;
    margin: 3px -1px 0px 0px;
    background-color: var(--color_button);
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
}

.next_block-btn_arrow img {
    margin-left: 10px;
    margin-top: -2px;
}
.next_block-btn_arrow:hover {
    cursor: pointer;
    opacity: 0.9;
}
button, button:active, button:focus {
    outline: none;
}



.black-fone.runtime_back {
    background-color: rgba(255, 255, 255, 0.07);
    opacity: 1;
}

.next_block-btn:hover {
    cursor: pointer;
    opacity: 0.9;
}

.next_block {
    background: url(../img/icons/skip-arrow.svg) no-repeat;
    background-size: 18px;
    left: auto;
    background-position: right center;
    background-position-x: 124px;
    background-color: white;
    width: 165px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
}

.next_block:hover {
    cursor: pointer;
}

.next_block span {
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-left: -27px;
}

a {
    text-decoration: none;
}

.time-footer {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 4px -2px;
}

.hover:hover {
    cursor: pointer;
}

.time-footer img {
    margin-left: 6px;
    margin-top: 1px;
}

.modal_title {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

.service_selection {
    width: 100%;
}

.service_selection_wrapper {
    position: relative;
}

.online-zapis-off {
    text-align: center;
    font-size: 18px;
    margin: 25vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.online-zapis-off p{
    text-align: center;
}
.online_zapis_off_btn{
    width: 300px;
    height: 60px;
    margin: 15px -1px 0px 0px;
    background-color: var(--color_button);
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
}
.online_zapis_off_btn img {
    margin-left: 10px;
    margin-top: -2px;
}
.online_zapis_off_btn:hover {
    cursor: pointer;
    opacity: 0.9;
}
.service_selection.screen0 {
    display: block;
}

.checkedService-block {
    max-width: 700px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.specialist div:nth-child(2n+2) {
    margin-right: 0;
    position: relative;
    float: right;
}

.specialist {
    position: fixed;
    min-height: 72px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color_button);
    width: 100%;
    z-index: 10;
}

.specialist_big {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color_button);
    width: 100%;
    z-index: 10;
    max-height: 210px;
}

.service_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px 11px;
}

.service_header:hover {
    cursor: pointer;
}

.specialist-block {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    align-items: center;
    min-height: 72px;
    position: relative;
}

.specialist:hover {
    cursor: pointer;
}

.tap-service-icon {
    height: 20px;
    position: absolute;
    bottom: 2px;
    width: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.img_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img_container img {
    border-radius: 50%;
    box-shadow: 2px 3px 15px 0 rgb(56 62 74 / 8%);
    background-color: #ffffff;
    margin: -2px 15px -1px -2px;
    border: solid 1px rgba(172, 172, 172, 0.3);
    max-width: 100%;
    height: 42px;
    width: 42px;
}

.img_container span, .service_item p {
    font-size: 20px;
}

.service_item p strong {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 29.3878px;
    line-height: 40px;
    color: var(--color_button);
}

.service_item p span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 9.79592px;
    line-height: 13px;
}

.service_item p {
    font-size: 14px;
    display: flex;
    /* opacity: 0.7; */
}

.white_text {
    color: #FFFFFF !important;
    opacity: 1 !important;
}

.service-price-text strong p {
    font-size: 19px;
    line-height: 20px;
    margin-right: 4px;
}

.white_border {
    border: 2px solid #FFFFFF;
    border-radius: 3px;
}

.service_item label input {
    display: none;
    /* <--скрываем дефолтный чекбокс */
}

.service_item label .checkHelper {
    /* <-- стилизируем новый */
    height: 20px;
    width: 20px;
    border: 1px solid gray;
    display: inline-block;
    position: relative;
    background-color: #FFF;
    border-radius: 2px;
    padding: 3px;
    padding-left: 5px;
    margin: 0 20px;
    vertical-align: bottom;
}

.blue-fone {
    background: var(--color_button) !important;
    border: 1px solid rgba(255, 255, 255, 0.1) !important;
    color: #FFFFFF !important;
}

.service_item [type=checkbox]:checked+span:before {
    /* <-- ставим иконку, когда чекбокс включен  */
    content: '\2714';
    position: absolute;
    top: -5px;
    left: 0;
    font-size: 18px;
    color: #3b4b5c;
    line-height: 30px;
    margin-left: 2px;
}

.service_footer-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 700px;
}

.service_footer_price {
    color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price_service {
    display: flex;
    flex-direction: column;
}

.price_service_item {
    display: flex;
    align-items: unset;
}

.service_footer_price span {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
}

.time_footer_p {
    color: white;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.time-footer_desctop_p {
    color: white;
    font-size: 13px;
    line-height: 29px;
}

.service_footer_price_text {
    color: white;
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;
}

.service_footer_price_small_text {
    color: white;
    font-size: 13px;
    line-height: 18px;
}

.service_footer_price_small_text:hover {
    cursor: pointer;
}

.staff_popup_item_p {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
    overflow: hidden;
    margin: -21px 0px 0px 0px;
}

.time-footer .service_item_price {
    font-size: 14px !important;
}

.runtime {
    font-size: 12px;
    line-height: 20px;
    opacity: 0.7;
    /* margin-top: -34px; */
    margin-bottom: 12px;
}

.service-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service_list_block {
    display: flex;
    justify-content: space-between;
    width: 700px;
    margin: auto;
    height: 100%;
    max-height: 204px;
    padding: 20px 0px 5px;
}

.setvice_list_items p {
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-bottom: 10px;
}

.setvice_list_items {
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.setvice_list_items::-webkit-scrollbar {
    display: none;
}

.setvice_list_item {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.setvice_list_item p {
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.cansel_btn_big {
    width: 19px;
    height: 19px;
    margin-top: auto;
    margin-bottom: auto;
    background-image: url(../img/icons/cancel-white.svg);
}

.cansel_btn_big:hover {
    cursor: pointer;
}

.cansel_btn_small {
    width: 9px;
    height: 9px;
    background-image: url(../img/icons/cancel-white.svg);
    margin-right: 10px;
    background-repeat: no-repeat;
}

.img_svg {
    position: absolute;
    left: 9%;
    bottom: 0;
    width: 18px;
    height: 18px;
}

.text_underline {
    text-decoration: underline;
}

.service_circle {
    width: 10px;
    height: 10px;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
}

.service_circle_center {
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
}

.service-price-text {
    display: flex;
    margin: 0px 0px -16px 0px;
    flex-wrap: wrap;
}

.price_service_half {
    display: flex;
}

.service-price-text strong {
    font-size: 29.3878px;
    line-height: 40px;
    color: var(--color_button);
    display: flex;
    align-items: center;
}

.service-price-text p {
    font-size: 29.3878px;
    color: var(--color_button);
}

.service-price-text span {
    font-size: 9.79592px;
    line-height: 13px;
}

.black-fone {
    background: rgba(62, 80, 247, 0.07);
    width: 100%;
    width: 89px;
    height: 28px;
    align-items: center;
    border-radius: 3px;
    padding: 5px;
    /* margin: -43px 0px -28px; */
    text-align: center;
}

.runtime strong {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.7;
}

.calendar_modal {
    width: 700px;
    margin: auto;
    position: relative;
}

.calendar_modal th {
    font-size: 24px;
    font-weight: bold;
    font-family: 'helvetica_medium';
    text-align: center;
}

.calendar_modal td {
    font-size: 30px;
    text-align: center;
    cursor: pointer;
}

.calendar_modal table {
    width: 100%;
    margin-bottom: 45px;
}

.calendar_modal th, .calendar_modal td {
    padding: 0;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.calendar_modal .no_free_dates {
    color: rgba(65, 76, 88, 0.3);
}

.calendar_modal .no_free_dates:hover {
    font-weight: normal;
    background-color: #fff;
    cursor: context-menu;
}

.calendar_modal td:hover {
    font-weight: bold;
    background-color: rgba(38, 78, 134, 0.09);
}

.calendar_modal tr {
    display: flex;
    width: 100%;
    padding-bottom: 22px;
    justify-content: space-between;
}

.calendar_modal td.no_dates:hover {
    background: none;
    cursor: auto;
}

.round {
    width: 12px;
    height: 12px;
    background-color: #3b4b5c;
    border-radius: 50%;
    display: inline-block;
    top: 0;
    bottom: 0;
    margin: auto;
    margin-right: 14px;
}

.gray_text {
    color: rgba(34, 43, 54, 0.3);
}

.gray_text .round {
    background-color: rgba(34, 43, 54, 0.3);
}

.dark_blue_text, .gray_text {
    position: relative;
}

.calendar_mark {
    display: flex;
    margin-top: 24px;
}

.dark_blue_text {
    display: flex;
    align-items: center;
}

.dark_blue_text p {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: var(--color_text);
}

.gray_text p {
    font-size: 13px;
    line-height: 18px;
    text-align: right;
    color: #C1C1CE;
}

.gray_text {
    display: flex;
    align-items: center;
    margin-left: 48px;
}



.footer_modal a {
    font-family: "helvetica_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.5;
}

.footer_modal a a {
    font-family: "helvetica_medium";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    opacity: 0.7;
}

.footer_modal p a:hover {
    text-decoration: none;
    background-color: transparent;
}

.calendar_modal {
    margin-bottom: 50px;
}

.mobile-visible, .mobile, .work_time.mobile_block, .specialist div .mobile_block, .date_item_popup.mobile_block {
    display: none;
}

.staff_popup li:hover {
    cursor: pointer;
}

.comments_book_button.comments_sub_btn {
    background-position-x: 125px;
}

.comments_book_button:hover {
    cursor: pointer;
}

.desktop-visible-flex {
    display: flex;
}

.stars {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
    opacity: 0.4;
}

.stars span {
    background: url(../img/icons/star_full.svg) no-repeat;
    width: 10px;
    height: 10px;
    display: inline-block;
    background-size: 100% auto;
}

.stars .icon-half-star {
    background: url(../img/icons/half_star.svg) no-repeat;
    background-size: 100% auto;
}

.stars .icon-star {
    background: url(../img/icons/star.svg) no-repeat;
    background-size: 100% auto;
}

.specialist .stars {
    display: none;
    text-align: left;
    text-align-last: left;
}

/*--service_popup--*/

.service_list li, .staff_popup li.staff_comment {
    margin-bottom: 20px;
}

.rating_text {
    color: #F7B83E;
}

.staff_popup_comment {
    width: 660px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 21px auto 10px;
}

.staff_popup_comment>span {
    margin-bottom: 9px;
}

.staff_popup_comment span p {
    font-size: 13px;
    line-height: 20px;
}

.staff_popup_comment>div p {
    font-size: 13px;
    line-height: 18px;
}

.staff_popup_comment p {
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 9px;
}

.service_list li, .affiliate li.staff_comment, .service_list li:hover, .affiliate li:hover, .affiliate li.active {
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

.subsidiary-map {
    width: 660px;
    height: 240px;
    margin: auto;
}

.affiliate li {
    margin: auto;
    margin-bottom: 20px;
    width: 700px;
    padding: 20px;
    border-radius: 5px;
}

/*--end service_popup--*/

.staff_popup .mobile_block {}

.affiliate_item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.service-prev {
    flex-grow: 0.58;
}

.service_list_name {
    /* margin-bottom: 22px; */
}

.service_list_name h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 27px;
}

.staff_popup_name {
    display: flex;
}

.staff_popup_item {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}

.img_container_block {
    display: flex;
    justify-content: flex-start;
}

.img_container_staff {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.staff_popup .img_container .img_container_block {
    margin-right: 20px;
}

.staff_popup.staff_popup_large .img_container .img_container_block {
    margin-right: 0;
}

.staff_popup .img_container img {
    width: 70px;
    height: 70px;
}

.final-book_hz {
    color: red;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
    margin-bottom: 8px;
}

.final-book_hz_hz {
    font-size: 12px;
    margin-top: 5px;
    color:var(--color_button);
}

.star-container {
    padding-right: 5px;
}

.staff_popup-name {
    display: flex;
    margin: 11px 0px 7px 0px;
}

.staff_popup-name-stars {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.staff_popup-name p {
    font-size: 16px;
    line-height: 22px;
}

.staff_popup.staff_popup_one li {
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
}

.nearest_appointment {
    font-size: 13px;
    line-height: 20px;
    color: var(--color_button);
}

.comments .staff_popup_large {
    width: 100%;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.comments_rating {
    margin-right: 27px;
}

.comments_rating>div:nth-child(2) {
    padding-top: 8px;
}

.comments .img_container, .comments .staff_popup_item {
    width: 100%;
}

.comments .img_container img {
    width: 49px;
    height: 49px;
}

.comments .img_container p {
    font-size: 13px;
    line-height: 18px;
}

.comments .img_container span {
    display: flex;
    align-items: center;
}

.comments .img_container span p {
    font-size: 18px;
    line-height: 25px;
}

.comments .img_container div {
    font-size: 18px;
    line-height: 25px;
}

.staff_popup.staff_popup_large .img_container .affiliate_name {
    margin-top: 6px;
    display: block;
    text-align: center;
}

.affiliate_name {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 6px;
}

.comments {
    width: 700px;
    margin: auto;
    border: solid 1px rgba(172, 172, 172, 0.2);
    min-height: 74vh;
    height: auto;
    margin-top: 13px;
    border-radius: 5px;
    padding-bottom: 80px;
}

.comments_btn_footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 41%;
    width: 156px;
    height: 34px;
    margin: 3px -1px 0px 0px;
    background-color: var(--color_button);
    border-radius: 3px;
    text-align: center;
    font-size: 13px;
    line-height: 18px;
    color: #FFFFFF;
    border: 0;
    align-items: center;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.comments_btn_footer img {
    margin-left: 7px;
    margin-top: 2px;
}

.comments_btn_footer:hover {
    cursor: pointer;
}

.staff-comments {
    width: 15px;
    height: 15px;
    background: var(--color_button);
    opacity: 0.7;
    border-radius: 50%;
    padding: 4px 6px;
    margin: 0px 0px 0px 5px;
}

.staff-comments:hover {
    cursor: pointer;
}

.no-staff {
    text-decoration: underline;
    width: 100%;
    text-align: center;
}

.staff_popup li {
    background-color: #ffffff;
    border: solid 1px rgba(172, 172, 172, 0.2);
    width: 340px;
    height: 190px;
    margin-bottom: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px;
    overflow: hidden;
}

.staff_popup li:nth-child(2n) {
    margin-left: 20px;
}

.staff_popup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: auto;
    width: 700px;
    margin: auto;
}

/* .staff_popup .mobile_block span {
    font-size: 20px;
} */

/*--end staff_popup--*/

/*--time_popup--*/

.specialist .date_item_popup {
    text-align: left;
    text-align-last: left;
}

.date_item_popup strong {
    display: flex;
    font-size: 20px;
    width: 100%;
    align-items: flex-end;
    height: 40px;
}

.choise_time span {
    font-size: 24px;
    padding: 6px 21px;
    border: solid 0.8px rgba(172, 172, 172, 0.2);
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    line-height: 22px;
}

/* .choise_time span:hover, .selected_time {
    background-color: #ebeff4;
} */

.choise_time tr {
    display: block;
    width: 100%;
    text-align: justify;
    text-align-last: justify;
}

/*--end time_popup--*/

/*--time_book_popup--*/

.book_button {
    font-size: 14px;
    line-height: 19px;
    padding: 0px 24px 0px 1px;
    background-position-x: 120px;
}

/*--end time_book_popup--*/

input[type="search"]::-webkit-input-placeholder {
    color: #3b4b5c;
}

input[type="search"]::-moz-placeholder {
    color: #3b4b5c;
}

.screen5>p {
    margin-bottom: 10px;
}

.time_color {
    background-color: var(--color_button);
    color: #fff;
}

.screen5 input[type="text"], input[type="search"], .screen5 textarea {
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid rgba(9, 9, 58, 0.2);
    padding: 9px 9px;
    width: 317px;
    height: 50px;
    width: 315px;
    height: 34px;
    display: block;
    clear: both;
    resize: none;
    font-size: 13px;
    line-height: 18px;
    color: var(--color_text);
    /* opacity: 0.5; */
    font-weight: 400;
}

.phones_country .form-control {
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
    border: solid 1px rgba(9, 9, 58, 0.1) !important;
    border-radius: 2px;
}

.leng_list {
    width: 214px;
    height: 0px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: absolute;
    left: 436px;
    top: 75px;
    background: #FFFFFF;
    box-shadow: 0px 5px 15px rgba(18, 38, 63, 0.12);
    /* transition: height 0.4s linear; */
    border-radius: 3px;
    z-index: 1500;
}

.leng_list.leng_list_active {
    height: 160px;
    padding: 5px;
}

.header-lang:hover {
    cursor: pointer;
}

.leng_list_item img {
    width: 55px;
    height: 49px;
}

.leng_list_item {
    border-bottom: 1px solid rgba(42, 48, 66, 0.1);
    margin: auto;
    width: 180px;
}

.leng_list_item:nth-child(4) {
    border-bottom: none;
    width: 180px;
}

.leng_list_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.leng_list_item p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    color: #2A3042;
}

.leng_btn {
    background: #FFFFFF;
    border: 4px solid var(--color_button);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(52, 195, 143, 0.15);
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.screen5 .term {
    text-align: center;
    width: 90%;
    display: block;
    margin: 30px auto 25px;
    color: #686868;
}

a.last_footer_block_desc_a {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    color: #FFFFFF;
    text-decoration: underline;
}

.term a {
    text-decoration: underline;
}

.term a:hover {
    text-decoration: none;
}

.container_popups {
    padding-top: 152px;
    overflow: hidden;
}
.submit_screen_text{
width: 100%;
padding: 0px 10px;
}
.submit_screen_text p{
text-align: center;
}
.service_selection.screen0,.service_selection.submit_screen, .service_selection.screen1, .service_selection.screen2, .service_selection.screen3, .service_selection.screen4, .service_selection.screen5{
    height: auto;
    position: relative;
    margin-bottom: 80px;
}
.submit_screen{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.footer_modal {
    position: fixed;
    display: flex;
    justify-content: center;
    min-height: 40px;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    border: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #FFF;
}

.skip_employee-block {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    height: 64px;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 12px;
}

.skip_employee-block:hover {
    cursor: pointer;
}

.skip-arrow {
    margin-left: 5px;
    width: 16px;
    height: 12px;
    background-image: url(../img/icons/skip-arrow.svg);
    background-repeat: no-repeat;
}

.skip-arrow-blue {
    margin-left: 15px;
    margin-top: 2px;
    width: 16px;
    height: 12px;
}

.skip-arrow-blue svg {
    fill: var(--color_button);
}

.skip-arrow-blue svg path {
    fill: var(--color_button);
}

.skip_employee {
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 22px;
    color: var(--color_button);
}

.calendar_modal {
    margin-bottom: 50px;
}

.service_list {
    width: 700px;
    margin: auto;
}
input:not([type=checkbox]):not([type=radio]),
textarea, 
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.service_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: auto;
    max-height: 0px;
    overflow: hidden;
}

.service_items_grow {
    flex-grow: 1;
}

.service_items li {
    width: 340px;
    overflow: hidden;
}

.service-block:hover {
    cursor: pointer;
}

.service_items li:hover {
    cursor: pointer;
}

.service_items li:nth-child(2n) {
    margin-left: 20px;
}

.service-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 14px;
}

.choise_time {
    width: 700px;
    margin: auto;
    margin-top: 25px;
}

.title_block {
    position: fixed;
    display: flex;
    align-items: center;
    height: 65px;
    left: 0;
    right: 0;
    top: 81px;
    margin: auto;
    max-width: 700px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #fff;
    z-index: 20;
}

.title_block .n .affiliate_title {
    justify-content: flex-start;
}

.data_title, .staff_title {
    justify-content: flex-start;
}

.service-title {
    justify-content: space-between;
}

.service-title .modal_title {
    margin-left: 40px;
}

.staff_title .prev_block span {
    font-weight: 600;
    font-size: 13px;
    line-height: 18px;
}

.staff_title .prev_block {
    flex-grow: 0.443;
}

.data_title .prev_block {
    flex-grow: 0.443;
    margin-top: 1px;
}

/* .n {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60px;
    left: 0;
    right: 0;
    top: 85px;
    margin: auto;
    max-width: 700px;
    border-bottom: solid 1px rgba(172, 172, 172, 0.2);
    background-color: #fff;
    z-index: 999;
} */

/*tabs*/

.tabs-container {
    margin-bottom: 0;
}

.tabs-container .tab {
    width: 50%;
    float: left;
    border-bottom: solid 2px rgba(172, 172, 172, 1);
    text-align: center;
    opacity: 0.5;
    text-transform: uppercase;
    cursor: pointer;
    padding: 0 0 15px;
    margin-bottom: 20px;
    transition: opacity ease-in-out 0.2s;
}

.tabs-container .tab:hover {
    opacity: 1;
}

.tabs-container .tab.active {
    border-bottom-color: #414c58;
    opacity: 1;
}

.tab-content {
    display: block;
    clear: both;
    width: 100%;
}

.tab-content .list {
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 3px;
    margin-bottom: 20px;
}

.map-container iframe {
    width: 100%;
    height: 200px;
    border: none;
    padding: 5px 5px;
}

.select-location p {
    padding-left: 10px;
    font-size: 20px;
    font-family: 'helvetica_medium';
}

.select-location span {
    padding-left: 10px;
    font-size: 14px;
}

.booking-info {
    display: flex;
    border-top: solid 1px rgba(172, 172, 172, 0.2);
    padding: 10px 10px;
    margin-top: 10px;
    flex-direction: row;
    justify-content: space-between;
}

.booking-info p {
    padding-left: 0;
    max-width: 100%;
    font-size: 15px;
}

.booking-info span {
    padding-left: 0;
    display: block;
    font-size: 20px;
    margin-top: 10px;
    font-family: 'helvetica_medium';
}

.select-location {
    position: relative;
    cursor: pointer;
}

.select-location:hover>p, .select-location:hover ::after {
    opacity: 0.7;
}

.select-location::after {
    content: '';
    width: 20px;
    height: 30px;
    background: url(../img/icons/next.svg) no-repeat;
    background-size: 100% auto;
    background-position: center;
    display: block;
    position: absolute;
    right: 10px;
    margin: auto;
    top: 10px;
}

.map, .list-container {
    display: none;
}

.list-container.active, .map.active {
    display: block;
}

.map iframe {
    width: 100%;
    height: 100%;
    min-height: 450px;
    border: none;
    padding: 5px 5px;
}

.mobile {
    margin: 0 auto;
    display: block;
    width: 37px;
    height: 37px;
    border: 1px solid #fff;
    border-radius: 50%;
    background: url(../img/icons/phone.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: relative;
    top: 11px;
    right: 0;
}

.mobile:hover {
    opacity: 0.7;
}

.move-white {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/icons/move-white.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.choise_time div {
    display: inline-block;
    margin-bottom: 30px;
    width: 46px;
    margin-bottom: 60px;
}

.choise_time div:not(:nth-child(7n)) {
    margin-right: 57px;
}

.choise_time {
    margin-top: 0;
    display: table;
    padding-top: 25px;
}

.cancel-white {
    display: block;
    width: 37px;
    height: 37px;
    background: url(../img/icons/cancel-white.svg) no-repeat;
    background-size: 50%;
    background-position: center;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 2px;
}

.modal_menu .phones_firm {
    display: none;
    position: absolute;
    color: #3b4b5c;
    width: 94%;
    margin: auto;
    max-width: 100%;
    background: #fff;
    border-radius: 6px;
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    border: solid 1px rgba(172, 172, 172, 0.2);
    text-align: center;
    padding: 20px 0 20px;
    height: auto;
    right: 0;
    left: 0;
}

.phones_firm a {
    color: #3b4b5c;
    display: inline-block;
    margin: 5px 4% 5px;
}

.supperVisDet_closer, .closer {
    background: url(../img/icons/close.svg) no-repeat;
    width: 15px;
    height: 15px;
    display: block;
    background-size: 100% auto;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
}

.supperVisDet_closer, .closer:hover {
    opacity: 0.7;
}

.adress-phones p {
    padding: 0 4px 0 24px;
    white-space: normal;
    line-height: 19px;
    height: 62px;
    overflow: hidden;
}

.entry_form {
    max-width: 702px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(172, 172, 172, 0.2);
    border-radius: 5px;
}

.entry_form_block {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.entry_form-item {
    display: flex;
    flex-direction: column;
    width: 315px;
    margin-bottom: 21px;
}

.entry_form-item:nth-child(2n) {
    margin-left: 30px;
}

.entry_form-item p {
    margin-bottom: 9px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.entry_form-item textarea {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    /* opacity: 0.5; */
}

.entry_form-item textarea {
    padding: 7px 9px;
}

.entry_form span {
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    opacity: 0.5;
    margin: 13px 0px 0px 1px;
}

.react-tel-input .form-control {
    font-weight: normal;
    font-size: 13px !important;
    color: #000000;
    line-height: 18px !important;
    padding: 0px 0px 0px 59px !important;
}

.error_text_red {
    display: flex;
    justify-content: space-between;
}

.error_text_red p {
    color: red;
}

.react-tel-input .flag-dropdown {
    border: none !important;
    background-color: rgba(9, 9, 58, 0) !important;
}

.react-tel-input .selected-flag {
    padding: 0px 0px 0px 11px !important;
}

.react-tel-input .selected-flag .arrow {
    left: 27px !important;
    background-image: url(../img/arrow_down.png);
}

.final-screen-block {
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    border: solid 1px rgba(172, 172, 172, 0.1);
    border-radius: 5px;
    margin-top: 18px;
    padding: 20px;
}

.last_list_block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.last_list_caption {
    display: flex;
    justify-content: space-between;
}

.last_list_img {
    display: flex;
    justify-content: space-between;
}

.last_list_img img {
    width: 46px;
    height: 46px;
    font-size: 13px;
    line-height: 18px;
    border-radius: 50%;
}

.last_list_name {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.last_list_name p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    opacity: 0.5;
}

.last_list_services {
    display: flex;
    flex-direction: column;
    margin: 27px 0px 10px;
}

.last_list_services span {
    font-weight: 300;
    font-size: 13px;
    line-height: 18px;
}

.last_list_services p:nth-child(1) {
    margin-bottom: 15px;
    font-size: 14px;
    line-height: 19px;
}

.last_list_services p:not(:nth-child(1)) {
    margin-bottom: 10px;
    font-size: 13px;
    line-height: 18px;
}

.last_list_services p strong {
    font-size: 13px;
    line-height: 18px;
    color: var(--color_button);
}

.last_list_services p span {
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
}

.last_list_price {
    display: flex;
    align-items: center;
}

.last_list_price p {
    font-size: 13px;
    line-height: 18px;
}

.last_list_price p:nth-child(2) {
    margin-left: 10px;
    font-size: 20px;
    line-height: 27px;
    color: var(--color_button);
}

.last_list_price span {
    font-size: 20px;
    line-height: 27px;
    color: var(--color_button);
}

.last_list {
    width: 700px;
    border: 1px solid rgba(9, 9, 58, 0.1);
    border-radius: 5px;
    margin: auto;
    padding: 20px 20px 15px 20px;
    margin-top: 13px;
}

.last_footer_block {
    display: flex;
    justify-content: flex-end;
    width: 700px;
    height: 72px;
    align-items: center;
    margin: auto;
}

a.last_footer_block_a {
    font-size: 10px;
    line-height: 20px;
    font-weight: 300;
    text-align: right;
    color: rgba(9, 9, 58, 1);
    text-decoration: underline;
}

.last_footer_block p {
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
    margin-right: 25px;
    width: 300px;
    color: #FFF;
}

.cansel_block {
    display: flex;
    margin: 13px 10px 0px -25px;
}

.cansel-visit {
    width: 176px;
    height: 42px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 14px;
    color: var(--color_button);
    line-height: 19px;
}
.cansel-visit svg{
    margin-left: 10px;
}
.cansel-visit:hover {
    cursor: pointer;
}

.desktop_invisible {
    display: none;
}

.desktop_visible {
    display: inline-block;
}

.service_list_items {
    /* margin-top: 9px; */
}

.modal_window_block {
    width: 441px;
    height: 209px;
    background: #FFFFFF;
    border-radius: 10px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.create_comments {
    display: flex;
    width: 700px;
    margin: auto;
    border: 1px solid rgba(9, 9, 58, 0.1);
    border-radius: 5px;
    flex-direction: column;
    padding: 20px;
    margin-top: 13px;
    height: 75vh;
}

.create_comments .staff_popup {
    margin: 0;
}

.comment_sms_btn_block {
    display: flex;
    margin-top: 34px;
    margin-left: -6px;
}

.regist_block .phones_country {
    margin-bottom: 20px;
}
.regist_block span svg{
    margin-left: 10px;
}

.comments_book_button {
    background: url(../img/icons/skip-arrow-white.svg) no-repeat;
    background-size: 16px;
    left: auto;
    background-position: right center;
    width: 180px;
    height: 42px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    font-size: 14px;
    color: white;
    line-height: 19px;
    padding: 0px 27px 1px 0px;
    background-position-x: 109px;
    background-position-y: 17px;
    background-color: var(--color_button);
    border-radius: 3px;
}

.display_flex {
    display: flex;
}

.comment_sms_btn_block img:hover {
    cursor: pointer;
}

.comment_sms_btn:hover {
    cursor: pointer;
}

.comment_sms_btn_active {
    border: 0;
    background-color: white;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
}

.comment_sms_btn_block img {
    width: 14px;
    height: 14px;
    margin: 9px 0px 0px 8px;
}

.comment_sms_btn {
    display: flex;
    color: var(--color_button);
    background-color: white;
    align-items: center;
    justify-content: center;
    border: 0;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-left: 9px;
    margin-top: 4px;
}

.create_comments .img_container img {
    width: 48px;
    height: 48px;
}

.create_comments .img_container div {
    display: flex;
    flex-direction: column;
}

.create_comments .img_container div {
    font-size: 13px;
    line-height: 18px;
}

.create_comments .img_container div span {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
}

.regist_block {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 30px;
}

.regist_block p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin: 1px 0px 11px 0px;
}

.regist_block p:nth-child(2n) {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin: 11px 0px 11px 0px;
}

.regist_block span {
    font-weight: normal;
    font-size: 13px;
    color: rgba(9, 9, 58, 0.5);
    line-height: 19px;
    margin-top: 11px;
    width: 333px;
    margin-bottom: 30px;
}

.mobile-icon-block img:hover {
    cursor: pointer;
}

.mobile-icon-wrapper {
    display: flex;
    justify-content: space-between;
    width: 0px;
    overflow: hidden;
    transition: width 0.4s linear;
    z-index: 3000;
    align-items: center;
    min-height: 88px;
    position: absolute;
    right: 0;
    top: -4px;
    background-color: #FFF;
}

.mobile-icon-wrapper div {
    display: flex;
    justify-content: space-between;
}

.mobile-icon-wrapper div p {
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    margin-right: 35px;
}

.mobile-icon-wrapper.mobile_active {
    overflow: visible !important;
    width: 702px !important;
}

.regist_block span a {
    opacity: 1;
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
}

.regist_block span img {
    width: 14px;
    height: 14px;
    margin-left: 14px;
}

.regist_block span img, .regist_block span a:hover {
    cursor: pointer;
}

.regist_block .form-control {
    width: 315px !important;
    height: 34px !important;
    border-radius: 2px !important;
    border: 1px solid rgba(9, 9, 58, 0.2);
    opacity: 1;
}

.regist_block .tel {
    width: 315px;
    height: 34px;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    opacity: 1;
    padding-left: 7px;
    border-radius: 2px;
    border: 1px solid rgba(9, 9, 58, 0.1);
}

.search img {
    position: absolute;
    right: 26px;
}

.no_zap {
    font-size: 13px;
    line-height: 20px;
    opacity: 0.5;
}

.arrow_rotate {
    transform: rotate(180deg);
}

/* ////////////////////////////////////////////// */

.date_item_popup strong {
    height: 37px;
}

.date_item_popup.mobile_block {
    display: inline-block;
}

.react-tel-input .country-list span {
    margin-right: 6px;
    display: contents;
}

.disabledField {
    cursor: not-allowed;
    opacity: 0.5;
}

.disabledField:hover {
    opacity: 0.5!important;
}

.redBorder {
    border: 1px solid red!important;
}

.supperVisDet .supperVisDet p {
    text-align: left;
    text-align-last: left;
    white-space: normal;
    word-break: break-word;
}

.container_popups .button_block {
    display: flex;
    justify-content: center;
}

.container_popups .load {
    border-radius: 6px;
    box-shadow: 2px 3px 15px 0 rgba(56, 62, 74, 0.08);
    background-color: #39434f;
    color: white;
    border: solid 1px rgba(172, 172, 172, 0.2);
    padding: 9px 30px;
    font-weight: bold;
    font-family: 'helvetica_medium';
    margin: 40px 0;
    cursor: pointer;
}

@media screen and (max-width: 520px) {
    .container_popups {
        padding-bottom: 10px;
    }
}

.service_name {
    width: 60%;
}

.service_time {
    width: 40%;
}

.page404 {
    height: 100%;
    background-color: white;
    padding-top: 140px;
    font-family: serif;
    color: #002f84;
}

.page404 .title {
    display: block;
    clear: both;
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    font-family: 'helvetica_medium';
    margin-bottom: 100px;
    line-height: 55px;
    margin: auto;
}

.page404 .button {
    height: auto;
    border-radius: 8px;
    box-shadow: 0 3px 16px 2px rgba(175, 167, 167, 0.56);
    background-color: #ff1e00;
    border: solid 1px rgba(116, 119, 129, 0.18);
    font-size: 17px;
    font-weight: bold;
    color: #ffffff;
    width: 100%;
    max-width: 320px;
    text-align: center;
    cursor: pointer;
    text-align-last: center;
    transition: .4s;
    display: block;
    margin: 0 auto 40px;
    padding: 20px 0;
    text-transform: uppercase;
    font-family: monospace;
}

.page404 .button:hover {
    opacity: 0.7;
}

.page404 .red_center_text {
    color: #ff1e00;
    font-weight: bold;
    font-size: 15rem;
    font-family: 'helvetica_medium';
    font-style: italic;
    display: block;
    text-align: center;
}

@media screen and (max-width: 1350px) {
    .page404 .red_center_text {
        font-size: 10rem;
    }
}

@media screen and (max-width: 550px) {
    .page404 .red_center_text {
        font-size: 8rem;
    }
}

@media screen and (max-width: 1650px) {
    .page404 .rate .title, .title {
        font-size: 32px;
        line-height: normal;
    }
}

.page404 .button:hover {
    opacity: 0.7;
    text-decoration: none;
}