/* .animate-blob {
	animation: none !important;
} */

#Circle1 {
    -webkit-animation: from0to360 9s linear infinite;
    animation: from0to360 9s linear infinite;
    -webkit-transform-origin: 75px 80px;
    -ms-transform-origin: 75px 80px;
    transform-origin: 75px 80px;
}

#Circle2 {
    -webkit-animation: from360to0 10s linear infinite;
    animation: from360to0 10s linear infinite;
    -webkit-transform-origin: 90px 85px;
    -ms-transform-origin: 90px 85px;
    transform-origin: 90px 85px;
}

#Circle3 {
    -webkit-animation: from0to360 11s linear infinite;
    animation: from0to360 11s linear infinite;
    -webkit-transform-origin: 80px 75px;
    -ms-transform-origin: 80px 75px;
    transform-origin: 80px 75px;
}

#Circle4 {
    -webkit-animation: from360to0 9s linear infinite;
    animation: from360to0 9s linear infinite;
    -webkit-transform-origin: 80px 85px;
    -ms-transform-origin: 80px 85px;
    transform-origin: 80px 85px;
}

@-webkit-keyframes from0to360 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes from360to0 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes from0to360 {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes from360to0 {
    0% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}
#blob {
    overflow: visible;
    position: absolute;
    left: 45%;
    top: 40%;
    opacity: 0.1;
    width: 600px;
    height: 600px;
}
